.about-section {
  //background-color: $color-lightBlue;
  width: 100vw;
  color: $color-aquaGreen;
  
  .phrase {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .title {
      margin-left: 10vw;
      margin-top: 15vh;
  
      span {
        display: block;
      }
    }
  }
  .team {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .title {
      width: 80%;
      margin-bottom: 4vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      align-items: end;

      @media (max-width: 580px) {
        width: 85%;
      }

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .about-team {

        width: 85vw;

        @media (max-width: 480px) {
          font-size: clamp(60px, 12vw, 140px);
        }
        
        span {
          display: block;
        }
      }
      .team-description {
        width: 45%;
        margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(9px, 3vw, 32px);

          @media (max-width: 980px) {
            font-size: clamp(15px, 4vw, 47px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }
  }
  .members {
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;

    .kristi {
      // height: 38rem;
      // width: 70rem;
      height: 65vh;
      width: 60vw;
      border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
      overflow: hidden;
      margin-left: 10vw;
      position: relative;

      @media (max-width: 1280px) {
        height: 50vh;
        width: 68vw;
      }
      @media (max-width: 980px) {
        height: 42vh;
      }
      @media (max-width: 780px) {
        height: 52vh;
        width: 82vw;
      }
      @media (max-width: 580px) {
        height: 78vh;
      }

      .bg {
        display: flex;
        justify-content: center;
        mix-blend-mode: multiply;
        opacity: .6;
        //background: #d3d3d3;
        background: #0E7A86;
      }
      
      .about {
        position: absolute;
        top: 50%;
        left: 15%;
        font-family: "komet", sans-serif;
        font-style: normal;

        @media (max-width: 1280px) {
          top: 40%;
          left: 20%;
        }
        @media (max-width: 980px) {
          top: 30%;
        }
        @media (max-width: 580px) {
          top: 30%;
          left: 25%;
        }
        
        .name {
          font-weight: 900;
          font-size: clamp(20px, 11vw, 120px);

          p {
            margin: 0;
          }
        }
        .description {
          font-weight: 400;
          width: 60%;

          @media (max-width: 580px) {
            width: 80%;
          }
        }
      }
    }
    .phil {
      // height: 38rem;
      // width: 70rem;
      height: 65vh;
      width: 60vw;
      border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
      overflow: hidden;
      position: relative;

      @media (max-width: 1280px) {
        height: 50vh;
        width: 68vw;
      }
      @media (max-width: 980px) {
        height: 42vh;
      }
      @media (max-width: 780px) {
        height: 52vh;
        width: 82vw;
      }
      @media (max-width: 580px) {
        height: 78vh;
      }

      .bg {
        display: flex;
        justify-content: center;
        mix-blend-mode: multiply;
        opacity: .6;
        // background: lightgray;
        background: #0E7A86;
      }
      
      .about {
        position: absolute;
        top: 50%;
        left: 15%;
        font-family: "komet", sans-serif;
        font-style: normal;

        @media (max-width: 1280px) {
          top: 40%;
          left: 20%;
        }
        @media (max-width: 980px) {
          top: 30%;
        }
        @media (max-width: 580px) {
          top: 30%;
          left: 25%;
        }
        
        .name {
          font-weight: 900;
          font-size: clamp(20px, 11vw, 120px);

          p {
            margin: 0;
          }
        }
        .description {
          font-weight: 400;
          width: 60%;

          @media (max-width: 580px) {
            width: 80%;
          }
        }
      }
    }
  }
}