$color-orange: #EE512F;
$color-lightBlue: #108896;
$color-aquaGreen: #C5ECD8;
$color-darkBlue: #1C374D;
$color-mustard: #FCA720;
$color-darkMustard: #E69C24;
$color-white: #FFFFFF;
$color-grey: #93A0AA;