.copyright {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: 5vh 10vw 3vh 10vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  color: $color-white;

  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: inline;
    }
  }
  @media (max-width: 580px) {
    margin: 5vh 8vw 0 8vw;
  }

  .line {
    height: 1px;
    width: 28vw;
    background-color: #FFFFFF;
  }
}