.fade-hero-section {

  .phrase {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .title {
      margin-left: 10vw;
      margin-top: 15vh;
      color: $color-white;
      width: 80%;
  
      h3 {
        // font-family: "komet", sans-serif;
        // font-weight: 900;
        // font-size: clamp(40px, 8vw, 80px);
        margin: 0 0 0 1vw;
      }
  
      span {
        &:nth-child(1) {
          margin-left: -2vw;
          line-height: 0;
        }
        &:nth-child(2) {
          line-height: 1;
        }
  
        display: block;
      }
    }
  }
  .shortcut {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;

    .title {
      width: 80%;
      margin-bottom: 4vw;

      display: flex;
      justify-content: space-between;
      align-items: end;

      @media (max-width: 580px) {
        width: 85%;
      }

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .about-shortcut {

        width: 85vw;

        @media (max-width: 480px) {
          font-size: clamp(60px, 12vw, 140px);
        }
        
        span {
          display: block;
        }

        h3 {  
          margin: 0 0 0 1vw;
        }
    
        span {
          &:nth-child(1) {
            margin-left: -2vw;
            line-height: 0;
          }
          &:nth-child(2) {
            line-height: 1;
          }
    
          display: block;
        }
      }
      
      .shortcut-description {
        width: 45%;
        // margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        // .paragraph
        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(21px, 2.1vw, 25px);
          line-height: 1.45;
          letter-spacing: -0.01em;
          margin: 1.5rem 0 0 0;

          // @media (max-width: 980px) {
          //   font-size: clamp(15px, 4vw, 47px);
          // }
          // @media (max-width: 480px) {
          //   font-size: clamp(20px, 6vw, 70px);
          // }

          span {
            display: block;
          }
        }
      }
    }
  }
}