.header {
  position: fixed;
  width: 80%;
  margin: 5vh 10vw 0 10vw;

  @media (max-width: 580px) {
    margin: 5vh 8vw 0 8vw;
  }

  img {
    @media (max-width: 580px) {
      transform: scale(.8);
    }
  }
  
}