.hero {
  height: 100vh;
  width: 100vw;
  background: url("/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;

  .title {
    margin-left: 10vw;
    color: $color-white;
      
    span {
      display: block;
    }
  }

  .brand-name-transition {
    position: relative;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 98vh;
    left: -50vw;
    font-size: clamp(400px, 88vw, 800px);
    // color: $color-orange;
    color: red;

    p {
      display: inline-block;
      width: 120vw;
    }
  }
}