.hero {
  height: 100vh;
  width: 100vw;
  background: url("/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .title {
    margin-left: 10vw;
    color: $color-white;
      
    span {
      display: block;
    }
  }

  .brand-name-transition {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    top: -30vh;
    left: -16%;
    font-size: clamp(400px, 88vw, 800px);
    color: $color-orange;
    width: 300vw;
    overflow-x: hidden;
  }
}