.hero {
  height: 100vh;
  width: 100vw;
  background: url("/dance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;

  .title {
    margin-left: 10vw;
    color: $color-white;
    
    p { 
      font-weight: 900;
      font-size: clamp(12px, 6vw, 48px);
      margin: 0; 
    }
    h1 {
      margin-top: -1vh;
      margin-bottom: -1vh;
      line-height: 0.9;
      font-size: clamp(100px, 22vw, 200px);

      @media (max-width: 580px) {
        margin-top: -1vh;
        margin-bottom: -1vh;
      }
    }

    span {
      display: block;
    }
  }

  .brand-name-transition {
    position: absolute; z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end; 

    p {
      display: inline-block;
      margin: 0;
 
      font-size: clamp(300px, 100vh, 400px);    
      font-weight: 900;
      line-height: 1;
      text-align:right;
      color: $color-orange; 
      transform: translateY(55%);

     @media (min-width:480px) {
      font-size: clamp(400px, 100vh, 900px);       
     }
    }
  }
}