.hero {
  height: 100vh;
  width: 100vw;
  background: url("/dance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;

  .title {
    margin-left: 10vw;
    color: $color-white;
    
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: clamp(12px, 6vw, 48px);
      margin: 0; 
    }
    h1 {
      margin-top: -1vh;
      margin-bottom: -1vh;
      line-height: 0.9;
      font-size: clamp(100px, 22vw, 200px);

      @media (max-width: 580px) {
        margin-top: -1vh;
        margin-bottom: -1vh;
      }
    }

    span {
      display: block;
    }
  }

  .brand-name-transition {
    position: relative;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 98vh;
    left: -50vw;
    font-size: clamp(400px, 88vw, 800px);
    // color: $color-orange;
    color: red;

    p {
      display: inline-block;
      width: 120vw;
    }
  }
}