.how-we-work {
  //background-color: $color-darkBlue;
  width: fit-content;

  .our-way-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    overflow-x: hidden;


    .main-slide {
      width: 80vw;
      margin: 4vh 0 4vh 10vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 1rem;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .about-phrase {
        margin-top: 5vh;
        h3 {
          color: $color-orange;

          @media (max-width: 1200px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 980px) {
            font-size: clamp(50px, 11vw, 120px);
          }
          @media (max-width: 480px) {
            font-size: clamp(60px, 12vw, 140px);
          }
          
          span {
            display: block;
          }
        }
      }
      .about-agency {
        color: $color-grey;
        width: 45%;
        margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(10px, 3vw, 35px);

          @media (max-width: 980px) {
            font-size: clamp(15px, 4vw, 47px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }
    .secondary-slides {
      width: 90vw;
      margin: 4vh 0 4vh 12vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 2rem;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .about-phrase {
        margin-top: 5vh;
        h3 {
          color: $color-orange;
          
          font-size: clamp(80px, 16vw, 160px);

          @media (max-width: 1480px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 1200px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 980px) {
            font-size: clamp(50px, 11vw, 120px);
          }
          @media (max-width: 480px) {
            font-size: clamp(60px, 12vw, 140px);
          }
          
          span {
            display: block;
          }
        }
      }
      .about-agency {
        position: absolute;
        color: $color-grey;
        left: 42vw;
        width: 34vw;
        margin-bottom: 8vw;

        @media (max-width: 1480px) {
          top: 46vh;
          left: 44vw;
        }
        @media (max-width: 980px) {
          left: 58vw;
          width: 30%;
        }
        @media (max-width: 780px) {
          position: relative;
          top: 0;
          left: 0;
          width: 80%;
          margin-top: -5vh;
        }
        @media (max-width: 780px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(8px, 3vw, 28px);

          @media (max-width: 980px) {
            font-size: clamp(6px, 2vw, 20px);
          }
          @media (max-width: 780px) {
            font-size: clamp(12px, 4vw, 40px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }
  }

  .principles-slider-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .our-work-wrapper {
    width: 100vw;
    color: $color-orange;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;

    .section-title {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: clamp(100px, 24vw, 220px);

        @media (max-width: 1340px) {
          font-size: clamp(80px, 20vw, 180px);
        }
        @media (max-width: 1080px) {
          font-size: clamp(70px, 18vw, 150px);
        }
        @media (max-width: 980px) {
          font-size: clamp(50px, 15vw, 120px);
        }
      }
    }

    .projects-section {
      display: flex;
      flex-direction: column;
      height: 500vh;

      .work-container {
        height: 100vh;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
          margin-left: 10vw;
        }
        &:nth-child(even) {
          margin-left: 29vw;
        }

        .work-item-fred {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/fredriks/pasta.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-mei {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/burger.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-thyme {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/thyme/salmon.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-brand {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-wig {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }

        .modal {
          position: absolute;
          height: fit-content;
          width: fit-content;
          // background-color: yellow;
          background-color: $color-darkBlue;
          transform: translateX(-20vw);

          .swiper-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70vh;
            width: 100vw;

            gap: 30vw;

            .work-slide-item {
              border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
              height: 70vh;
              width: 60vw;

              background: url("/dance.jpg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .hidden {
          display: none;
        }
      }
    }
  }
}