.how-we-work {
  width: fit-content;

  .our-way-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 150vh;

    .main-slide {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 1rem;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
 

      .about-agency {
        color: $color-grey;
        width: 45%;
        // margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(10px, 3vw, 35px);

          @media (max-width: 980px) {
            font-size: clamp(15px, 4vw, 47px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }

    .secondary-slides {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

      @media (max-width: 1480px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
 

      .about-agency {
        // position: absolute;
        // color: $color-grey;
        // left: 50vw;
        width: 40vw;
        max-width: 480px;
        // margin-bottom: 8vw;

        @media (max-width: 1480px) {
          position: relative;
          top: 0;
          left: 0;
          width: 80%;
          margin-top: -5vh;
        }
        @media (max-width: 780px) {
          width: 100%;
        }

        p {  
          font-size: clamp(21px, 2.1vw, 25px);
          line-height: 1.45;
          letter-spacing: -0.01em;
          margin: 1.5rem 0 0 0;

          small {
            display: block;
            margin-top: 1rem;
            font-size: 75%;
            opacity: .75;
          }

          /* @media (max-width: 980px) {
            font-size: clamp(6px, 2vw, 20px);
          } */
          // @media (max-width: 780px) {
          //   font-size: clamp(12px, 4vw, 40px);
          // }
          // @media (max-width: 480px) {
          //   font-size: clamp(20px, 6vw, 70px);
          // }
        }
      }
    }
  }

  .our-work-wrapper {
    margin-top: 120vh;
    //margin-bottom: 120vh;
    width: 100vw;
    color: $color-orange;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;

    .section-title {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: clamp(100px, 24vw, 220px); 

        color: $color-orange;
      }
    }

    .projects-section {
      display: flex;
      flex-direction: column;
      height: 500vh;

      .work-container {
        height: 100vh;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
          margin-left: 10vw;
        }
        &:nth-child(even) {
          margin-left: 29vw;
        }

        .work-item-fred {
          
          height: 70vh;
          width: 60vw;
  
          background: url("/fredriks/pasta.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-mei {
          
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/burger.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-thyme {
          
          height: 70vh;
          width: 60vw;
  
          background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-brand {
          
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-wig {
          
          height: 70vh;
          width: 60vw;
  
          background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
      }
    }

    .modal {
      position: fixed;
      background-color: $color-darkBlue;
      //transform: translateX(-20vw);
      top: 0%;
      left: 0;
      height: 100vh;
      z-index: 999;

      .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 110vw;
        margin-left: -10vw;

        gap: 30vw;

        // FREDERIKS
        .work-slide-item-fred-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/fredriks/pasta.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-fred-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/fredriks/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */

          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-fred-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/fredriks/taco.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */

          

          &:hover {
            cursor: pointer;
          }
        }

        // MEIJER
        .work-slide-item-mei-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/meijer/burger.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */

          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/meijer/ice-cream.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */

          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */

          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-fourth {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-fifth {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        // THYME
        .work-slide-item-thyme-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        .work-slide-item-thyme-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/salmon.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-thyme-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/steack.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        // BRAND
        .work-slide-item-brand-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-brand-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/salmon.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-brand-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/thyme/steack.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        // WIGGLES
        .work-slide-item-wig-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/dance.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-wig-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-wig-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/tickle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        // DOLE
        .work-slide-item-dole-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/dance.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-dole-second {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-dole-third {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/tickle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        // BYE
        .work-slide-item-bye-first {
          
          height: 70vh;
          width: 60vw;
          overflow: hidden;
          margin-left: -38vw;

          display: flex;
          justify-content: center;
          align-items: center;

          /* background: url("/wiggles/dance.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; */
          

          &:hover {
            cursor: pointer;
          }
        }

        .video {
          z-index: 100;
          opacity: 1;
          height: 100%;
          width: 100%;
          margin-bottom: 4vh;
          
          video {
            margin-top: -1vh;
            width: 100%;
            height: 73vh;
            // filter: brightness(100%);
          }
          img {
            width: 100%;
            height: 110%;
            object-fit: cover;
          }
        }

        .video-hidden {
          opacity: 1;
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .how-we-work-item {
    padding: 20vh 0;


    .about-phrase { 

      h3 {
        
        color: $color-orange;
        margin-bottom: 140px;  

        sub {
          &:nth-child(1) {
            font-size: clamp(14px, 8vw, 28px);
            margin-left: -1vw;
            line-height: 0.5;
          }
          &:nth-child(2) {
            line-height: 1;
          }
    
          display: block;
        }
      }
     }
  }
}


.how-we-work .our-work-wrapper .projects-section .work-container .name p {
  padding-left: 24px;
  box-sizing: border-box;
}

.work-item {
  border-radius: 32px;
}

.work-slide {
  background-color: #000;
  border-radius: 16px;
  overflow: hidden;
}

.work-slide-img {
  background-color: transparent !important;
  border-radius: 0 !important;

  img {
    width: auto;
    height: 100%;

    border-radius: 16px;
    overflow: hidden;
  }

  &--landscape {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// .swiper-slide .video {
//   border-radius: 16px;
//   overflow: hidden !important;
// }