.how-we-work {
  width: fit-content;

  .our-way-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 150vh;

    .main-slide {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 1rem;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }

      .about-phrase {
        margin-top: 5vh;
        h3 {
          color: $color-orange;
          margin-left: 2vw;

          @media (max-width: 1200px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 980px) {
            font-size: clamp(50px, 11vw, 120px);
          }
          @media (max-width: 480px) {
            font-size: clamp(60px, 12vw, 140px);
          }
      
          span {
            &:nth-child(1) {
              margin-left: -2vw;
              line-height: 0.2;
            }
            &:nth-child(2) {
              line-height: 1;
            }
      
            display: block;
          }
        }
        h3 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          margin-left: 2vw;
        }
    
        span {
          &:nth-child(1) {
            margin-left: -2vw;
            line-height: 0;
          }
          &:nth-child(2) {
            line-height: 1;
          }
    
          display: block;
        }
      }
      .about-agency {
        color: $color-grey;
        width: 45%;
        margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(10px, 3vw, 35px);

          @media (max-width: 980px) {
            font-size: clamp(15px, 4vw, 47px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }

    .secondary-slides {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

      @media (max-width: 1480px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }

      .about-phrase {
        margin-top: 5vh;
        h3 {
          margin-left: 1vw;
          color: $color-orange;
          
          font-size: clamp(40px, 16vw, 140px);

          @media (max-width: 1480px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 1200px) {
            font-size: clamp(45px, 9vw, 110px);
          }
          @media (max-width: 980px) {
            font-size: clamp(50px, 11vw, 120px);
          }
          @media (max-width: 480px) {
            font-size: clamp(60px, 12vw, 140px);
          }
          
          span {
            &:nth-child(1) {
              font-size: clamp(14px, 8vw, 28px);
              margin-left: -1vw;
              line-height: 0.5;
            }
            &:nth-child(2) {
              line-height: 1;
            }
      
            display: block;
          }
        }
      }
      .about-agency {
        position: absolute;
        color: $color-grey;
        left: 50vw;
        width: 40vw;
        margin-bottom: 8vw;

        @media (max-width: 1480px) {
          position: relative;
          top: 0;
          left: 0;
          width: 80%;
          margin-top: -5vh;
        }
        @media (max-width: 780px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(8px, 3vw, 28px);

          /* @media (max-width: 980px) {
            font-size: clamp(6px, 2vw, 20px);
          } */
          @media (max-width: 780px) {
            font-size: clamp(12px, 4vw, 40px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }
  }

  .our-work-wrapper {
    margin-top: 120vh;
    width: 100vw;
    color: $color-orange;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;

    .section-title {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: clamp(100px, 24vw, 220px);

        @media (max-width: 1340px) {
          font-size: clamp(80px, 20vw, 180px);
        }
        @media (max-width: 1080px) {
          font-size: clamp(70px, 18vw, 150px);
        }
        @media (max-width: 980px) {
          font-size: clamp(50px, 15vw, 120px);
        }
      }
    }

    .projects-section {
      display: flex;
      flex-direction: column;
      height: 500vh;

      .work-container {
        height: 100vh;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
          margin-left: 10vw;
        }
        &:nth-child(even) {
          margin-left: 29vw;
        }

        .work-item-fred {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/fredriks/pasta.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-mei {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/burger.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-thyme {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-brand {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
        .work-item-wig {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
  
          background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
          &:hover {
            cursor: pointer;
          }

          .name {
            margin-top: 10rem;
            p {
              margin-top: 62vh;
              margin-left: 2vw;
              color: $color-white;
              font-size: clamp(20px, 5vw, 45px);
            }
          }
        }
      }
    }

    .modal {
      position: fixed;
      background-color: $color-darkBlue;
      //transform: translateX(-20vw);
      top: 0%;
      left: 0;
      height: 100vh;
      z-index: 999;

      .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 110vw;
        margin-left: -10vw;

        gap: 30vw;

        // FREDERIKS
        .work-slide-item-fred-first {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/fredriks/pasta.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-fred-second {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/fredriks/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-fred-third {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/fredriks/taco.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }

        // MEIJER
        .work-slide-item-mei-first {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/meijer/burger.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-second {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/meijer/ice-cream.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-mei-third {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/meijer/sizzle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }

        // THYME
        .work-slide-item-thyme-first {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-thyme-second {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/salmon.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-thyme-third {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/steack.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }

        // BRAND
        .work-slide-item-brand-first {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/ftm-long-form.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-brand-second {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/salmon.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-brand-third {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/thyme/steack.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }

        // WIGGLES
        .work-slide-item-wig-first {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/wiggles/dance.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-wig-second {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/wiggles/dole-jokes.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }
        .work-slide-item-wig-third {
          border-radius: 5% 5% 5% 5% / 8% 8% 8% 8%;
          height: 70vh;
          width: 60vw;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          background: url("/wiggles/tickle.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            cursor: pointer;
          }
        }

        .video {
          z-index: 100;
          opacity: 1;
          height: 100%;
          width: 100%;
          margin-bottom: 4vh;
          
          video {
            margin-top: -1vh;
            width: 60vw;
            height: 73vh;
          }
        }

        .video-hidden {
          opacity: 0;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}