.menu {
  position: fixed;
  left: -5%;
  right: 0;
  bottom: 50%;
  width: 200vw;
  color: #FFFFFF;
  font-weight: 900;
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  // font-size: clamp(50px, 11vw, 120px);
  
  .active {
    color: $color-grey;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    li {
      list-style-type: none;
      a {
        color: #FFFFFF;
        text-decoration: none;
        letter-spacing: .2rem;
        padding: 1rem;
        transition-duration: 1s;

        &:hover {
          transition-duration: 1s;
          color: $color-grey;
          cursor: pointer;
        }
      }
    }
  }
}