<div class="work__slider" data-client="buybuybaby" hidden>
  <swiper-container class="work__swiper" free-mode="false" centered-slides="true" slides-per-view="auto"
    mousewheel="true" keyboard="true" space-between="30" pagination-dynamic-bullets="true">
    <swiper-slide>
      <div class="card">
        <div id="buy-baby">
        </div>
      </div>
    </swiper-slide>

    <script>
      const babyPlayerOptions = {
        id: 892010823, 
        controls: true,
        quality: 'auto'
      };
      const byeBabyPlayer = new Vimeo.Player('buy-baby', babyPlayerOptions);
    </script> 
  
  </swiper-container>
</div>