<div class="work__slider" data-client="dole-juice" hidden>
  <swiper-container class="work__swiper" free-mode="false" centered-slides="true" slides-per-view="auto"
    mousewheel="true" keyboard="true" space-between="80" pagination-dynamic-bullets="true">
    <swiper-slide>
      <div class="card">
        <div id="rebecca"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="ade"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="michelle"></div>
      </div>
    </swiper-slide>

    <script>
      const rebeccaPlayerOptions = {
        id: 891656885, 
        controls: true,
        quality: 'auto'
      };
      const rebeccaPlayer = new Vimeo.Player('rebecca', rebeccaPlayerOptions);

      const adePlayerOptions = {
        id: 891427846, 
        controls: true,
        quality: 'auto'
      };
      const adePlayer = new Vimeo.Player('ade', adePlayerOptions);
      
      const michellePlayerOptions = {
        id: 891427869, 
        controls: true,
        quality: 'auto'
      };
      const michellePlayer = new Vimeo.Player('michelle', michellePlayerOptions);
    </script> 
 
  </swiper-container>
</div>