<div class="work__slider" data-client="dole-wiggles" hidden>
  <swiper-container class="work__swiper" free-mode="false" centered-slides="true" slides-per-view="auto"
    mousewheel="true" keyboard="true" space-between="80" pagination-dynamic-bullets="true">
    <swiper-slide>
      <div class="card">
        <div id="dance"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="dole-jokes"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="tickle"></div>
      </div>
    </swiper-slide>
 
    <script>
      const dancePlayerOptions = {
        id: 891427991, 
        controls: true,
        quality: 'auto'
      };
      const dancePlayer = new Vimeo.Player('dance', dancePlayerOptions);

      const doleJokesPlayerOptions = {
        id: 891427947, 
        controls: true,
        quality: 'auto'
      };
      const doleJokesPlayer = new Vimeo.Player('dole-jokes', doleJokesPlayerOptions);

      
      const ticklePlayerOptions = {
        id: 891427911, 
        controls: true,
        quality: 'auto'
      };
      const ticklePlayer = new Vimeo.Player('tickle', ticklePlayerOptions);
    </script> 
  </swiper-container>
</div>