<div class="work__slider" data-client="fresh-thyme" hidden>
  <swiper-container class="work__swiper" free-mode="false" centered-slides="true" slides-per-view="auto"
    mousewheel="true" keyboard="true" space-between="80" pagination-dynamic-bullets="true">
    <swiper-slide>
      <div class="card">
        <div id="real-steak"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="real-salmon"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="real-ftm"></div>
      </div>
    </swiper-slide>
 
    <script>
      const realSteakPlayerOptions = {
        id: 891428147, 
        controls: true,
        quality: 'auto'
      };
      const realSteakPlayer = new Vimeo.Player('real-steak', realSteakPlayerOptions);
      
      const realSalmonPlayerOptions = {
        id: 891428182, 
        controls: true,
        quality: 'auto'
      };
      const realSalmonPlayer = new Vimeo.Player('real-salmon', realSalmonPlayerOptions);

      const realFtmPlayerOptions = {
        id: 891428033, 
        controls: true,
        quality: 'auto'
      };
      const realFtmPlayer = new Vimeo.Player('real-ftm', realFtmPlayerOptions);
    </script> 

  </swiper-container>
</div>