<div class="work__slider" data-client="meijer" hidden>
  <swiper-container class="work__swiper" free-mode="false" centered-slides="true" slides-per-view="auto"
    mousewheel="true" keyboard="true" space-between="80" pagination-dynamic-bullets="true">

    <swiper-slide>
      <div class="card">
        <div id="ice-cream"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="stop-and-go"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="windows-down"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="dream-big"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <div id="lpga-baton"></div>
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/02-msg-breakfast.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/03-msg-pets.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/04-msg-cleaning.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/05-msg-laundry.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/06-msg-dairy.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card">
        <img src="./meijer/prints/07-msg-pasta.jpg" alt="Meijer" />
      </div>
    </swiper-slide>

    <swiper-slide class="slide-img">
      <div class="card card--vertical">
        <div class="last-img">
          <img src="./meijer/prints/08-msg-mailer.jpg" alt="Meijer" />
        </div>
      </div>
    </swiper-slide>

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
      const iceCreamPlayerOptions = {
        id: 891428371, 
        controls: true,
        quality: 'auto'
      };
      const iceCreamPlayer = new Vimeo.Player('ice-cream', iceCreamPlayerOptions);

      const stopAndGoPlayerOptions = {
        id: 891988063, 
        controls: true,
        quality: 'auto'
      };
      const stopAndGoPlayer = new Vimeo.Player('stop-and-go', stopAndGoPlayerOptions);

      const windowsDownPlayerOptions = {
        id: 891988114, 
        controls: true,
        quality: 'auto'
      };
      const windowsDownPlayer = new Vimeo.Player('windows-down', windowsDownPlayerOptions);

      const dreamBigPlayerOptions = {
        id: 891989054, 
        controls: true,
        quality: 'auto'
      };
      const dreamBigPlayer = new Vimeo.Player('dream-big', dreamBigPlayerOptions);

      const lpgaPlayerOptions = {
        id: 891988200, 
        controls: true,
        quality: 'auto'
      };
      const lpgaPlayer = new Vimeo.Player('lpga-baton', lpgaPlayerOptions);
    </script>
  </swiper-container>
</div>