@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');

$color-orange: #EE512F;
$color-lightBlue: #108896;
$color-aquaGreen: #C5ECD8;
$color-darkBlue: #1C374D;
$color-mustard: #FCA720;
$color-darkMustard: #E69C24;
$color-white: #FFFFFF;
$color-grey: #93A0AA;

html,
body {
  margin: 0;
  overflow-x: hidden;
  //scroll-behavior: smooth;
  //cursor: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.main {

  .header {
    position: fixed;
    width: 80%;
    margin: 5vh 10vw 0 10vw;
  
    @media (max-width: 580px) {
      margin: 5vh 8vw 0 8vw;
    }
  
    img {
      @media (max-width: 580px) {
        transform: scale(.8);
      }
    }
    
  }
  
  .menu {
    position: fixed;
    left: -5%;
    right: 0;
    bottom: 50%;
    width: 200vw;
    color: #FFFFFF;
    font-weight: 900;
    transform: rotate(-90deg);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    // font-size: clamp(50px, 11vw, 120px);
  
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  
      li {
        list-style-type: none;
        a {
          color: #FFFFFF;
          text-decoration: none;
          letter-spacing: .2rem;
          padding: 1rem;
          transition-duration: 1s;
  
          &:hover {
            transition-duration: 1s;
            color: $color-grey;
          }
        }
      }
    }
  }
  
  .hero {
    height: 100vh;
    width: 100vw;
    background: url("hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  
    .title {
      margin-left: 10vw;
      color: $color-white;
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: clamp(50px, 11vw, 120px);
        
        span {
          display: block;
        }
      }
    }
  
    .brand-name-transition {
      position: absolute;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      top: -30vh;
      left: -16%;
      font-size: clamp(400px, 88vw, 800px);
      color: $color-orange;
      width: 300vw;
      overflow-x: hidden;
    }
  }
  
  .fade-hero-section {
    height: 120vh;
    width: 100vw;
    background-color: $color-orange;
    display: flex;
    align-items: center;
  
    .title {
      margin-left: 10vw;
      margin-top: 15vh;
      color: $color-white;
      h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: clamp(50px, 11vw, 120px);;
  
        span {
          display: block;
        }
      }
    }
  }
  
  .about-section {
    background-color: $color-lightBlue;
    width: 100vw;
    color: $color-aquaGreen;
    
    .first {
      height: 120vh;
      width: 100vw;
      display: flex;
      align-items: center;
  
      .title {
        margin-left: 10vw;
        margin-top: 15vh;
        h3 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: clamp(50px, 11vw, 120px);
    
          span {
            display: block;
          }
        }
      }
    }
    .second {
      height: 120vh;
      width: 100vw;
      display: flex;
      justify-content: center;
  
      .title {
        width: 80%;
        margin-bottom: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: end;
  
        @media (max-width: 980px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .about-team {
          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: clamp(50px, 11vw, 120px);;
  
            @media (max-width: 480px) {
              font-size: clamp(60px, 12vw, 140px);
            }
            
            span {
              display: block;
            }
          }
        }
        .team-description {
          width: 40%;
          margin-bottom: 6vw;
  
          @media (max-width: 980px) {
            width: 100%;
          }
  
          p {
            font-size: clamp(10px, 3vw, 35px);
  
            @media (max-width: 980px) {
              font-size: clamp(15px, 4vw, 47px);
            }
            @media (max-width: 480px) {
              font-size: clamp(20px, 6vw, 70px);
            }
          }
        }
      }
    }
    .third {
      height: 120vh;
      display: flex;
      align-items: center;
  
      /* .title {
        margin-left: 10vw;
        margin-top: 15vh;
        h3 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: clamp(50px, 11vw, 120px);;
    
          span {
            display: block;
          }
        }
      } */
    }
  }
  
  .how-we-work {
    background-color: $color-darkBlue;
    width: 100vw;
  
    .our-way-wrapper {
      height: 120vh;
      width: 100vw;
      display: flex;
      justify-content: center;
  
      .our-way {
        width: 80%;
        margin-bottom: 4vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
  
        @media (max-width: 980px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .about-phrase {
          p {
            color: $color-orange;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: clamp(50px, 11vw, 120px);
  
            @media (max-width: 480px) {
              font-size: clamp(60px, 12vw, 140px);
            }
            
            span {
              display: block;
            }
          }
        }
        .about-agency {
          color: $color-grey;
          width: 40%;
          margin-bottom: 6vw;
  
          @media (max-width: 980px) {
            width: 100%;
          }
  
          p {
            font-size: clamp(10px, 3vw, 35px);
  
            @media (max-width: 980px) {
              font-size: clamp(15px, 4vw, 47px);
            }
            @media (max-width: 480px) {
              font-size: clamp(20px, 6vw, 70px);
            }
          }
        }
      }
    }
  
    .principles-slider-wrapper {
      height: 120vh;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  
    .work-wrapper {
      width: 100vw;
  
      .section-title {
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
  
        p {
          color: $color-orange;
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: clamp(100px, 24vw, 220px);
        }
      }
  
      .projects-section {
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
  
    }
  }
  
  .contact {
    background-color: $color-mustard;
    width: 100vw;
  
    .title {
      height: 100vh;
      display: flex;
      align-items: center;
      margin-left: 10vw;
      color: $color-orange;
  
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: clamp(50px, 11vw, 120px);;
        margin-top: 8vw;
        
        span {
          display: block;
        }
      }
  
    }
  
    .contact-wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .contact-info {
        width: 80%;
        color: $color-darkBlue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: last baseline;
        z-index: 10;
  
        @media (max-width: 980px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .contact-phrase {
          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: clamp(30px, 12vw, 80px);
  
            @media (max-width: 800px) {
              font-size: clamp(40px, 14vw, 90px);
            }
            @media (max-width: 480px) {
              font-size: clamp(50px, 16vw, 100px);
            }
            
            span {
              display: block;
            }
          }
        }
        .contact-links {
          width: 40%;
          margin-bottom: 6vw;
  
          @media (max-width: 800px) {
            width: 80%;
          }
  
          p {
            font-size: clamp(8px, 2vw, 25px);
  
            @media (max-width: 800px) {
              font-size: clamp(16px, 4vw, 50px);
            }
            @media (max-width: 800px) {
              font-size: clamp(22px, 5vw, 60px);
            }
  
            span {
              display: block;
            }
          }
  
          .socials {
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
  
            @media (max-width: 1480px) {
              width: 80%;
            }
            @media (max-width: 1128px) {
              width: 100%;
            }
  
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              border: 1px solid $color-darkMustard;
              transition-duration: 1s;
  
              @media (max-width: 480px) {
                width: 4rem;
                height: 4rem;
              }
  
              &:hover {
                cursor: pointer;
                background-color: $color-white;
                transition-duration: 1s;
              }
            }
            
          }
        }
      }
      .brand-name-transition {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        bottom: -1250%;
        left: -135%;
        font-size: clamp(200px, 66vw, 600px);
        color: $color-orange;
        width: 600vw;
        z-index: 1;
      }
    }
  }
  
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: 5vh 10vw 3vh 10vw;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    color: $color-white;
  
    @media (max-width: 580px) {
      margin: 5vh 8vw 0 8vw;
    }
  
    .line {
      height: 1px;
      width: 28vw;
      background-color: #FFFFFF;
    }
  }
}




