
@import "./scss/colors";
@import "./scss/lenis";
@import "./scss/cursor";
@import "./scss/main";
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/fade-hero";
@import "./scss/about";

@import "./scss/how-we-work";
@import "./scss/modal";

@import "./scss/footer";
@import "./scss/slogan";

html,
body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "komet", sans-serif;
  //cursor: none;
}

p {
  color: $color-white;
}