@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');

@import "./scss/colors";
@import "./scss/lenis";
@import "./scss/cursor";
@import "./scss/main";
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/fade-hero";
@import "./scss/about";
@import "./scss/how-we-work";
@import "./scss/footer";

html,
body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //cursor: none;
}