<a id="home"></a>
<section id="hero" class="hero">

  <div class="wrapper">
    <div class="hero__title" data-splitting data-effect17>
      <small>Welcome to</small>
      <h1>HOT</br >LAVA*</h1>
    </div>
    {{!-- <!-- to use directly to .mp4 URL with handleVideoSource() -> main.js -->
    <video autoplay muted loop playsinline>    
    </video>  --}}   
  </div>
  <div class="slogan">
    <p></p>
  </div> 
  {{!-- <!-- Videobackground on loop from Vimeo --> --}}
  <div class="red-cover"></div>
  <div class="videofull hide">
    <div id="heroVideo" class="videofull__wrapper parallax"></div>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    const heroPlayerOptions = {
      id: 891441750, 
      autoplay: true,
      autopause: false,
      background: true,
      controls: false,
      loop: true,
      muted: true,
      quality: 'auto',
    };
    const heroPlayer = new Vimeo.Player('heroVideo', heroPlayerOptions);
    // Checks that video loaded in buffer
    heroPlayer.on('bufferend', function(){
      document.querySelector(".videofull").classList.remove("hide");
      document.querySelector(".videofull").classList.add("show");
    });
  </script> 

</section>