<a id="home"></a>
<section id="hero" class="hero">
  <div class="wrapper">
    <div class="hero__title">
      <small>Welcome to</small>
      <h1><span>HOT</span><span>LAVA*</span></h1>
    </div>
  </div>
  <div class="slogan">
    <p>*You’re going to like it here</p>
  </div>
  {{!-- <div class="brand">
    <div>*</div>
  </div> --}}
</section>