<a id="home"></a>
<section id="hero" class="hero">

  <div class="wrapper">
    <div class="hero__title" data-splitting data-effect17>
      <small>Welcome to</small>
      <h1>HOT</br >LAVA*</h1>
    </div>
    <video autoplay muted loop playsinline>   
      {{!-- <source
        src="https://player.vimeo.com/progressive_redirect/playback/891441750/rendition/1080p/file.mp4?loc=external&signature=fda31ffe3b21ba36b3a3aa3b65e4746b7a94eda1389a7ab609de05b7d73a8079"
        type="video/mp4" 
      /> --}}
    </video>
  </div>
  <div class="slogan">
    <p></p>
  </div>

</section>