<section class="how how-we-work" id="our-way">
  <div class="wrapper">

    <!-- Slide Intro -->
    <div class="section__slide">
      <h3 class="section__h3"><span class="asterisk">*</span><span>Here’s how</span><span>we roll.</span></h3>
    </div> 

    <!-- Slide 1 -->
    <div class="section__slide">
      <h3 class="section__h3"> 
        <span>Serious</span><span>strategery</span>
      </h3>
      <p class="section__p">
        Something bubbles below the surface. These are strong and timely
        insights, and we dig deep for this stuff. Hot Lava is when we
        uncover that single truth that sets our clients apart.
      </p>
    </div>

    <!-- Slide 2 -->
    <div class="section__slide">
      <h3 class="section__h3"> 
        <span>Hot hot</span><span>hot ideas</span>
      </h3>
      <p class="section__p">
        Distinct and compelling creative – that’s all we deliver. Budgets
        are tighter and attention spans are shorter, so our work works
        harder. Hot Lava is our commitment to simply smart and
        blow-your-mind creative.
      </p>
    </div>

    <!-- Slide 3 -->
    <div class="section__slide">
      <h3 class="section__h3"> 
        <span>Pressure-cooked</span><span>production</span>
      </h3>
      <p class="section__p">
        Our production runs smart, and our network is large. Hot Lava is
        how we squeeze better quality and higher quantity out of tighter
        budgets. Expect extra content without extra costs.*
        <small>*For real.</small>
      </p>
    </div>
    
  </div>
</section>