<section class="intro">
  <div class="wrapper">

    <div class="section__slide">
      <h3 class="section__h3 title title-intro">
        {{!-- <span class="asterisk">*</span><span>This is our word </span><span>for epiphany.</span><span>We had one and</span>
        <span>that&#8217;s why we&#8217;re here…</span> --}}
        <span class="asterisk">*</span>This is our word<br />for epiphany.<br />We had one and<br />
        that&#8217;s why we&#8217;re here…
      </h3>
    </div>

    <div class="section__slide">
      <h3 class="section__h3 title title-second">
        {{!-- <span>There&#8217;s a</span><span>shortcut to</span><span>greatness.</span> --}}
        There&#8217;s a<br />shortcut to<br />greatness.
      </h3>
      <p class="section__p paragraph-intro">
        <span><strong>So we&#8217;ll give it to you straight:</strong> </span>our full-service ad agency gives clients direct 
        access to award-winning creators and doers. <br /><br />
        <span><strong>No layers,</strong> </span>just creatives who excel at handling complexity.
      </p>
    </div>
  </div>
</section>