<section class="intro">
  <div class="wrapper">

    <div class="section__slide">
      <h3 class="section__h3 title title-intro">
        {{! <span class="asterisk">*</span><span>This is our word </span><span>for epiphany.</span><span>We had one and</span>
        <span>that&#8217;s why we&#8217;re here…</span> }}
        <span class="asterisk">*</span>This is our phrase<br />for epiphany.<br
        />We had one and<br />
        that&#8217;s why we&#8217;re here…
      </h3>
    </div>

    <div class="section__slide">
      <h3 class="section__h3 title title-second">
        Ideas need to
        <br />flow more freely.
      </h3>
      <p class="section__p paragraph-intro">
        <strong>We’ve reached our limits with limits.</strong><br />
        The advertising industry has become comfortable with rigid campaign
        constructs that cannot travel.
        <br /><br />
        <strong>It’s time to evolve with our times. </strong><br />
        We recognize the complexities of today’s marketing challenges, and we
        believe that ideas need to flow freely to be effective across audiences,
        platforms and cultures.
      </p>
    </div>
  </div>
</section>