// Migrar todos los @import locales a @use
@use './scss/vars' as *;

// For all html tags
@use './scss/html' as *;

// Layout components
@use './scss/menu' as *;
@use './scss/copyright' as *;
@use './scss/header' as *; 
@use './scss/modal' as *;
@use './scss/videofull' as *;

// External components
@use './scss/lenis' as *;
@use './scss/cursor' as *;
@use './scss/swiper' as *;

// Main Section + Generic styles
@use './scss/main' as *;

// Sections
@use './scss/hero' as *;
@use './scss/intro' as *;
@use './scss/about' as *; 
@use './scss/works' as *;
@use './scss/shop' as *;
@use './scss/contact' as *;
// La URL externa de Google Fonts puede quedarse con @import
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
