---
// About.astro
---

<section id="about-us" class="about">
  <div class="wrapper">
    <div class="container about__intro">
      <h3 class="title">
        <span class="asterisk">*</span>The best ideas 
        <br />know no bounds.
      </h3>
      <p>They flood our thoughts, ignite our emotions and build enough momentum to change the way we act. Ideas that flow are what the modern marketer needs to thrive.      </p>
    </div> 
    <div class="container about__team">
      <div class="team"> 

        <div class="team__card">  
          <picture>
            <img src="./images/team-kristi.png" alt="Kristi" />
          </picture>
        </div>

      </div>
    </div> 
  </div>

  <div class="logo logo--vertical"> 
    <img src="/logo-hot-lava-outline.svg" alt="Hot Lava">
  </div>
</section>


<style>
  .about {
    background: linear-gradient(to bottom, var(--color-turquoise), var(--color-aquaGreen));
  }
  .about__intro { 
    min-height: 50vh;
    padding: 20vh 0;
  }
  .about__team { 
    padding: 0 0 20vh 0;
  }
</style>
