---
// Hero.astro
---

<a id="home"></a>
<section id="hero" class="hero">
  <div class="wrapper">
  </div>
  <div class="logo logo--vertical"> 
    <img src="/logo-hot-lava-vertical.svg" alt="Hot Lava">
  </div>
 
  <div class="video">
    <img src="/images/hero.jpg" alt="Hero">
  </div>
  <!-- <video autoplay muted loop playsinline>
    <source src="/hero/hot-lava-1920.mp4" type="video/mp4" />
    <source src="/hero/hot-lava-1920.webm" type="video/webm" />
  </video> -->
 
</section>


<script>
  import { initParallax } from '../../scripts/utils/parallax.js';
  import { initUkiyo } from '../../scripts/utils/ukiyo.js';

  // initParallax('.hero .logo--vertical', {
  //   speed: 1.5  
  // });

  initParallax('.hero .video', {
    speed: 1.5  
  });

  initUkiyo('.hero .video img', {
    scale: 1.25,
    speed: 1.1
  });
</script>