---
// Intro.astro
---

<section class="intro intro-first">
  <div class="wrapper">
    <div class="container">
      <h3 class="title">
        <span class="asterisk">*</span>Hot Lava is our phrase for epiphany. We had one and that’s why we’re here...
      </h3> 
    </div>
    <div class="image-phrase">
      <img src="/images/phrase.jpg" alt="Hot Lava is our phrase for epiphany.">
    </div>
  </div>
</section>
<section class="intro intro-second">
  <div class="wrapper"> 
    <div class="container">
      <h3 class="title">
        <span class="asterisk">*</span>
        Ideas need to
        <br />flow more freely.
      </h3>
      <div class="row">
        <div class="image-ideas">
          <img src="/images/flow.jpg" alt="Ideas need to flow more freely.">
        </div> 
        <p class="section__p paragraph-intro"> It’s never been more important. With the complexities of today’s marketing challenges, ideas need to flow freely to be effective across audiences, platforms and cultures.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="intro intro-third">
  <div class="wrapper"> 
    <div class="container">
      <h3 class="title">
        <span class="asterisk">*</span>Flow starts with
        <br />the way we work.
      </h3>
      <p>We're a full-service advertising agency that gives
        clients direct access to award-winning creators and doers. Our team is
        simply an extension of yours – with personal service, an agile approach,
        and effective, defining work.
      </p>
    </div> 
  </div>
</section> 