---
// Products.astro
---

<section id="products" class="products shop">
  <div class="shop__hero"> 
  </div> 
    
  <div class="wrapper">
    <div class="container products__grid">
      <!-- 6 productos con imágenes del shop -->
      
      <div class="product__card product__card--1">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--2">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>
      <div class="product__card product__card--3">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--4">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--5">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--6">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div> 
    </div>
  </div>
</section>
