---
// Products.astro
---

<section id="products" class="products shop">
  <div class="shop__hero"> 
  </div> 
    
  <div class="wrapper">
    <div class="container products__grid">
      <!-- 12 productos: 2 filas x 6 columnas -->
      
      <div class="product__card product__card--lightBlue">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--yellow">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>
      <div class="product__card product__card--orange">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--orange">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--lightBlue">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div>      
      <div class="product__card product__card--yellow">
        <div class="product__content">
          <!-- Contenido del producto -->
        </div>
      </div> 
    </div>
  </div>
</section>
