---
// Works.astro
---

<section id="work" class="works">  
  <div class="logo logo--vertical">
    <img src="/logo-hot-lava-gradient.svg" alt="Hot Lava">
  </div>
  <div class="wrapper">
    <div class="container works__list">

      <div class="work__container">
        <div class="work__item js-work" data-slide="meijer">
          <div class="name">
            <p>Meijer</p>
          </div>
          <!-- <img src="./meijer/ice-cream.jpg" alt="Meijer"> -->
        </div>
      </div>

      <div class="work__container">
        <div class="work__item js-work" data-slide="frederiks">
          <div class="name">
            <p>Frederik’s</p>
          </div>
          <!-- <img src="./frederiks/pasta.jpg" alt="Frederik’s"> -->
        </div>
      </div>

      <div class="work__container">
        <div class="work__item js-work" data-slide="dole-wiggles">
          <div class="name">
            <p>Dole Wiggles</p>
          </div>
          <!-- <img src="./dole/wiggles/dance.jpg" alt="Dole Wiggles"> -->
        </div>
      </div>

      <div class="work__container">
        <div class="work__item js-work" data-slide="fresh-thyme">
          <div class="name">
            <p>Fresh Thyme</p>
          </div>
          <!-- <img src="./fresh-thyme/get-real-steak.jpg" alt="Fresh Thyme"> -->
        </div>
      </div>

      <div class="work__container">
        <div class="work__item js-work" data-slide="buybuybaby">
          <div class="name">
            <p>buybuyBABY</p>
          </div>
          <!-- <img src="./buybuybaby/manifesto.jpg" alt="buybuyBABY"> -->
        </div>
      </div>

      <div class="work__container">
        <div class="work__item js-work" data-slide="dole-juice">
          <div class="name">
            <p>Dole Juice</p>
          </div>
          <!-- <img src="./dole/juice/rebecca.jpg" alt="Dole Juice"> -->
        </div>
      </div>


    </div>
    <div class="container logos">
      <h5>
        Our expertise flows across CPG, B2B and retail. 
      </h5>

      <div class="brands"> 
        <img src="./brands/Arrow.png" alt="Arrow">
        <img src="./brands/Dehnco.png" alt="Dehnco">
        <img src="./brands/Dole.png" alt="Dole">
        <img src="./brands/EZ-corp.png" alt="EZ-corp">
        <img src="./brands/Knudsen.png" alt="Knudsen">
        <img src="./brands/P&G.png" alt="P&G">
        <img src="./brands/REW.png" alt="REW">
        <img src="./brands/SpartanNash.png" alt="SpartanNash">
      </div>
    </div>
  </div>
</section>

<script>
  import { initParallax } from '../../scripts/utils/parallax.js';

  initParallax('.works .logo', {
    speed: 1  
  });
</script>

<style>
  .lines-works {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0; 
    opacity: 0.5;  
    z-index: 1;
    width: 50vw;
    height: auto;
    mix-blend-mode: screen;
  }
</style>