---
// Works.astro
import BrandsCarousel from '../BrandsCarousel.astro';
---

<section id="work" class="works">  
  <div class="logo logo--vertical">
    <img src="/logo-hot-lava-gradient.svg" alt="Hot Lava">
  </div>
  <div class="wrapper">
    <div class="container works__container">
      <h3 class="title">
        <span class="asterisk">*</span>See how we flow
      </h3>
      
      <div class="works__list">
        <!-- P&G: Collision -->
        <div class="work">
          <div class="work__item js-work" data-slide="Collision">
            <span class="brand">P&G</span>
            <div class="name">
              <p>Collision</p> 
            </div>
          </div>
        </div> 

        <!-- P&G: First-Time Fresh -->
        <div class="work">
          <div class="work__item js-work" data-slide="First-Time Fresh">
            <span class="brand">P&G</span>
            <div class="name">
              <p>First-Time Fresh</p>
            </div>
          </div>
        </div>

        <!-- Dehnco: The Most Classic Design -->
        <div class="work">
          <div class="work__item js-work" data-slide="The Most Classic Design">
            <span class="brand">Dehnco</span>
            <div class="name">
              <p>The Most Classic Design</p>
            </div>
          </div>
        </div>

        <!-- Arrow Electronics: The Speed of Arrow -->
        <div class="work">
          <div class="work__item js-work" data-slide="The Speed of Arrow">
            <span class="brand">Arrow Electronics</span>
            <div class="name">
              <p>The Speed of Arrow</p>
            </div>
          </div>
        </div>

        <!-- Dole Packaged Foods: Dolemates -->
        <div class="work">
          <div class="work__item js-work" data-slide="Dolemates">
            <span class="brand">Dole Packaged Foods</span>
            <div class="name">
              <p>Dolemates</p>
            </div>
          </div>
        </div>

        <!-- Max Pawn Luxury: We Know Real -->
        <div class="work">
          <div class="work__item js-work" data-slide="We Know Real">
            <span class="brand">Max Pawn Luxury</span>
            <div class="name">
              <p>We Know Real</p>
            </div>
          </div>
        </div>

        <!-- EZ Pawn: You Won’t Believe It -->
        <div class="work">
          <div class="work__item js-work" data-slide="You Won’t Believe It">
            <span class="brand">EZ Pawn</span>
            <div class="name">
              <p>You Won’t Believe It</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Work Images -->
      <div class="works__images">
          <!-- <img src="./works/collision.jpg" alt="Collision"> -->
          <!-- <img src="./works/first-time-fresh.jpg" alt="First-Time Fresh"> -->
          <!-- <img src="./works/the-most-classic-design.jpg" alt="The Most Classic Design"> -->
          <!-- <img src="./works/the-speed-of-arrow.jpg" alt="The Speed of Arrow"> -->
          <!-- <img src="./works/dolemates.jpg" alt="Dolemates"> -->
          <!-- <img src="./works/we-know-real.jpg" alt="We Know Real"> -->
          <!-- <img src="./works/you-won’t-believe-it.jpg" alt="You Won’t Believe It"> -->
      </div>
    </div>
  </div>

  <!-- Logos carousel. -->
  <div class="container logos">
    <BrandsCarousel 
      title="Our expertise flows across CPG, B2B and retail."
      duration={40}
    />
  </div>
</section>

<script>
  import { initParallax } from '../../scripts/utils/parallax.js';

  initParallax('.works .logo', {
    speed: 1  
  });
</script>
 