---
// index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Copyright from '../components/Copyright.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Intro from '../components/sections/Intro.astro';
import About from '../components/sections/About.astro';
import How from '../components/sections/How.astro';
import Works from '../components/sections/Works.astro';
// import Shop from '../components/sections/Shop.astro'; 
import '../styles/global.scss';
---

<BaseLayout>
  <div class="modal">
    <div class="modal__close js-close">
      <div class="ui-close"></div>
    </div> 
  </div>

  <Header />
  <Nav />
  <Copyright />

  <Hero />
  <Intro />
  <About />
  <How />
  <Works />
  <!-- <Shop /> -->
  <Footer />

  <script>
    import '../scripts/main.js';
  </script>

</BaseLayout>

