---
// index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Loader from '../components/Loader.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Copyright from '../components/Copyright.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Intro from '../components/sections/Intro.astro';
import About from '../components/sections/About.astro';
import Works from '../components/sections/Works.astro';
// import Shop from '../components/sections/Shop.astro'; 
import Products from '../components/sections/Products.astro';
import Canvas from '../components/Canvas.astro';
import '../styles/global.scss';
---

<BaseLayout>
  <Loader />
  <canvas id="fluid"></canvas>
  <div class="modal">
    <div class="modal__close js-close">
      <div class="ui-close"></div>
    </div> 
  </div>

  <Header />
  <Nav />
  <Copyright />

  <Hero />
  <Intro />
  <About /> 
  <Works />
  <Products />
  <Footer /> 
  <Canvas />

  <script>
    import '../scripts/main.js';
    import '../scripts/smoke.js';
  </script>

</BaseLayout>

