---
// Copyright.astro
---

<div class="copyright">
  <div class="wrapper">
    <div class="copyright__text">
      <p class="desktop">©Hot Lava Agency </p>
      <p class="mobile">©Hot Lava Agency </p>
    </div> 
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/dist/ScrollTrigger";

  // Register ScrollTrigger plugin
  gsap.registerPlugin(ScrollTrigger);

  // Copyright animation
  const copyright = document.querySelector(".copyright__text");
  if (copyright) {
    gsap.fromTo(
      copyright,
      {
        willChange: "opacity",
        opacity: 0,
        y: 30,
      },
      {
        ease: "power1.inOut",
        opacity: 1,
        delay: 1.2,
        y: 0,
        scrollTrigger: {
          trigger: copyright,
          start: "top bottom",
          end: "center top",
        },
      }
    );
  }
</script>

