---
// Header.astro
---

<header class="header">
  <a href="#home" class="logo">
    <img
      src="/logo.svg"
      alt="logo"
      width="90"
    />
  </a>

  <div class="burger">
    <button class="button burguer-btn">
      <svg width="74" height="74" viewBox="0 0 74 74" fill="none">
        <path
          d="M26.7188 28.9976H46.7188"
          stroke="#303244"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M26.7188 36.9976H46.7188"
          stroke="#303244"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M26.7188 44.9976L36.7188 44.9976"
          stroke="#303244"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>
  </div>
</header>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/dist/ScrollTrigger";

  // Register ScrollTrigger plugin
  gsap.registerPlugin(ScrollTrigger);

  // Logo animation
  const logo = document.querySelector(".header .logo");
  if (logo) {
    gsap.fromTo(
      logo,
      {
        willChange: "opacity",
        opacity: 0,
        y: -30,
      },
      {
        ease: "power1.inOut",
        opacity: 1,
        y: 0,
        scrollTrigger: {
          trigger: logo,
          start: "top bottom",
          end: "center top",
        },
      }
    );
  }

  // Burger button animation
  const burguer = document.querySelector(".burguer-btn");
  if (burguer) {
    gsap.fromTo(
      burguer,
      {
        willChange: "opacity",
        opacity: 0,
        y: -30,
      },
      {
        ease: "power1.inOut",
        opacity: 1,
        y: 0,
        scrollTrigger: {
          trigger: burguer,
          start: "top bottom",
          end: "center top",
        },
      }
    );
  }
</script>

