---
// Nav.astro
---

<nav class="menu" id="home">
  <div class="desktop">
    <ul class="navbar">
      <li><a class="home-link" href="#home">Home</a></li> 
      <li><a class="about-link" href="#about">About</a></li> 
      <li><a class="how-we-work-link" href="#work">Works</a></li>
      <li><a class="shop-link" href="#shop">Shop</a></li>
      <li><a class="contact-link" href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="mobile hidden">
    <div class="close">
      <button class="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        >
          <path
            d="M 4.9902344 3.9902344 A 1.0001 1.0001 0 0 0 4.2929688 5.7070312 L 10.585938 12 L 4.2929688 18.292969 A 1.0001 1.0001 0 1 0 5.7070312 19.707031 L 12 13.414062 L 18.292969 19.707031 A 1.0001 1.0001 0 1 0 19.707031 18.292969 L 13.414062 12 L 19.707031 5.7070312 A 1.0001 1.0001 0 0 0 18.980469 3.9902344 A 1.0001 1.0001 0 0 0 18.292969 4.2929688 L 12 10.585938 L 5.7070312 4.2929688 A 1.0001 1.0001 0 0 0 4.9902344 3.9902344 z"
          />
        </svg>
      </button>
    </div>
    <div class="nav">
      <ul>
        <li><a class="about-link" href="#about-us">ABOUT</a></li>
        <li><a class="how-we-work-link" href="#work">HOW WE WORK</a></li>
        <li><a class="shop-link" href="#shop">SHOP</a></li>
        <li><a class="contact-link" href="#contact">CONTACT</a></li>
      </ul>
    </div>
    <div class="contact">
      <p>Well, Hot Lava! We'd love to chat too. <br >For inquiries, contact:</p>
      <a href="mailto:info@hotlavaagency.com">info@hotlavaagency.com</a>
    </div>
  </div>
</nav>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/dist/ScrollTrigger";

  // Navbar animation
  const navbar = document.querySelector(".navbar");
  const slogan = document.querySelector(".slogan");
  
  if (navbar && slogan) {
    gsap.fromTo(
      navbar,
      {
        willChange: "opacity",
        opacity: 0,
        x: 30,
      },
      {
        ease: "power1.inOut",
        opacity: 1,
        delay: 1.5,
        x: 0,
        scrollTrigger: {
          trigger: slogan,
          start: "top bottom",
          end: "center top",
        },
      }
    );
  }
</script>