<section class="copyright">
  <div class="wrapper">
    <div class="copyright__text" data-splitting data-effect18>
      <p class="desktop">©2023. HOT LAVA* - ALL RIGHTS RESERVED</p>
      <p class="mobile">©2023 - HOT LAVA*</p>
    </div>
    {{!-- <div class="slogan">
      <p>*You’re going to like it here</p>
    </div> --}}
  </div>
</section>