<section class="copyright">
  <div class="wrapper">
    <div class="copyright__text">
      <p class="desktop">©2024. Hot Lava* - All rights reserved</p>
      <p class="mobile">©Hot Lava*</p>
    </div>
    <div class="slogan">
      <p></p>
    </div>
  </div>
</section>