<footer id="contact" class="contact">

  <div class="wrapper --flexcenter">
    <div class="contact__info">

      <div class="contact__phrase">
        <p class="contact-title title">
          <span class="asterisk">*</span>Ready to go<br />
          with the flow?
        </p>
      </div>

      <div class="contact__links">
        <p class="section__p">
          Hot Lava! We’d love to show you what we can do. For inquiries, contact
        </p>
        <p class="section__p">
          <a
            href="mailto:info@hotlavaagency.com"
            target="_blank"
            rel="noopener noreferrer"
          >info@<strong>hotlavaagency.com</strong></a>
        </p>
      </div>
    </div>
  </div>

  <div class="brand last-brand">
    <div data-splitting>HOT LAVA*</div>
  </div>
</footer>