<header class="header">
  <div class="wrapper">
    <a href="#home" class="logo"><img src="./logo.svg" alt="logo" width="90" /></a>
  </div>

  <div class="mobile-nav">
    <button>
      <svg width="74" height="75" viewBox="0 0 74 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="37" cy="37.22" r="36.5" fill="white" stroke="white" />
        <path d="M26.7188 28.9976H46.7188" stroke="#303244" stroke-width="2" stroke-linecap="round" />
        <path d="M26.7188 36.9976H46.7188" stroke="#303244" stroke-width="2" stroke-linecap="round" />
        <path d="M26.7188 44.9976L36.7188 44.9976" stroke="#303244" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
  </div>

  <div class="close-modal show hidden js-close">
    <button>
      <svg width="84" height="85" viewBox="0 0 84 85" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="42" cy="42.1001" r="41" stroke="white" stroke-opacity="0.2" stroke-width="2" />
        <line x1="32.9393" y1="52.139" x2="51.139" y2="33.9393" stroke="white" stroke-width="3" />
        <line y1="-1.5" x2="25.7383" y2="-1.5"
          transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 50.6562 53.1997)" stroke="white" stroke-width="3" />
      </svg>
    </button>
  </div>
</header>