<nav class="menu" id="home">
  <div class="desktop">
    <ul class="navbar-nav">
      <li><a class="about-link" >ABOUT</a></li>
      <span>*</span>
      <li><a class="our-way-link" href="#our-way">HOW WE WORK</a></li>
      <span>*</span>
      <li><a class="work-link" href="#work">WORK</a></li>
      <span>*</span>
      <li><a class="contact-link" href="#contact">CONTACT</a></li>
    </ul>
  </div>

  <div class="mobile hidden">
    <div class="nav">
      <ul>
        <li><a class="about-link" href="#about-us">ABOUT</a></li>
        <li><a class="our-way-link" href="#our-way">HOW WE WORK</a></li>
        <li><a class="work-link" href="#works">WORK</a></li>
        <li><a class="contact-link" href="#contact">CONTACT</a></li>
      </ul>
    </div>
    <div class="contact">
      <p>Well, Hot Lava! We'd love to chat too. For inquiries, contact</p>
      <p>info@hotlavaagency.com</p>
    </div>
    <div class="socials">
      <div>
        <a href="#">
          <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.46179 14.9726V25.0343H4.8398V14.9726H1V10.8928H4.8398V9.40846C4.8398 3.89763 7.14191 1 12.0128 1C13.506 1 13.8793 1.23999 14.6971 1.43553V5.47088C13.7816 5.31089 13.5238 5.22201 12.5727 5.22201C11.4439 5.22201 10.8395 5.54199 10.2884 6.17307C9.73733 6.80415 9.46179 7.89743 9.46179 9.46179V10.9017H14.6971L13.2927 14.9815H9.46179V14.9726Z"
              stroke="#fff" stroke-width="1.37339" />
          </svg>
        </a>
      </div>
      <div>
        <a href="#">
          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.1575 21.6009H4.44335C2.54824 21.6009 1 20.0526 1 18.1575V4.44335C1 2.54824 2.54824 1 4.44335 1H18.1575C20.0526 1 21.6009 2.54824 21.6009 4.44335V18.1575C21.6009 20.0611 20.0611 21.6009 18.1575 21.6009Z"
              stroke="#fff" stroke-width="1.37339" />
            <path
              d="M7.56386 15.0428C8.56218 16.0411 9.89045 16.591 11.3033 16.591C12.7162 16.591 14.036 16.0411 15.0428 15.0428C16.0411 14.0445 16.591 12.7162 16.591 11.3033C16.591 9.89045 16.0411 8.56218 15.0428 7.56386C14.0445 6.56555 12.7162 6.01562 11.3033 6.01562C9.89045 6.01562 8.56218 6.56555 7.56386 7.56386C6.56554 8.56218 6.01562 9.89045 6.01562 11.3033C6.01562 12.7162 6.56554 14.0445 7.56386 15.0428Z"
              stroke="#fff" stroke-width="1.37339" />
            <path
              d="M17.6246 5.84303C18.1854 5.84303 18.6399 5.38848 18.6399 4.82776C18.6399 4.26705 18.1854 3.8125 17.6246 3.8125C17.0639 3.8125 16.6094 4.26705 16.6094 4.82776C16.6094 5.38848 17.0639 5.84303 17.6246 5.84303Z"
              stroke="#fff" stroke-width="1.37339" />
          </svg>
        </a>
      </div>
      <div>
        <a href="#">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.0928 9.31543L21.2828 0H19.3421L12.2308 8.08857L6.55099 0H0L8.58891 12.2313L0 22H1.94093L9.45075 13.4583L15.449 22H22L13.0926 9.31543H13.0932H13.0928ZM10.4345 12.3389L9.56424 11.121L2.64016 1.42957H5.62114L11.2091 9.25085L12.0794 10.4687L19.343 20.6352H16.362L10.4347 12.3392V12.3387L10.4345 12.3389Z"
              fill="#fff" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>