@import "./scss/vars";
@import "./scss/html";

@import "./scss/main";
@import "./scss/lenis";
@import "./scss/cursor";
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/fade-hero";

@import "./scss/about";
@import "./scss/about-team";
@import "./scss/how";
@import "./scss/work";

@import "./scss/footer";
@import "./scss/slogan";