@font-face {
  font-family: 'graphiksuper';
  src: url('./fonts/graphiksuper-webfont.woff2') format('woff2'),
    url('./fonts/graphiksuper-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphiksemibold';
  src: url('graphiksemibold-webfont.woff2') format('woff2'),
    url('graphiksemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik_regularregular';
  src: url('./fonts/graphikregular-webfont.woff2') format('woff2'),
    url('./fonts/graphikregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'graphiklight';
//   src: url('./fonts/graphiklight-webfont.woff2') format('woff2'),
//     url('./fonts/graphiklight-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@import "./scss/vars";

// For all html tags
@import "./scss/html";

// Layout components
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
@import "./scss/slogan";
@import "./scss/modal";
@import "./scss/videofull";

// External components
@import "./scss/lenis";
@import "./scss/cursor";
@import "./scss/swiper";

// Main Section + Generic styles
@import "./scss/main";

// Sections
@import "./scss/hero";
@import "./scss/intro";
@import "./scss/about";
@import "./scss/how";
// @import "./scss/work";
@import "./scss/shop";
@import "./scss/contact";


.noise {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
  opacity: .05;
}