.about {
  color: $color-aquaGreen;
  padding-bottom: 15vh;

  @media (min-width: $change-layout) {
    // height: 500vh;
    padding-bottom: 10vh;
  }
}

.team {
  top: 10vh !important;
  width: 150vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  gap: 10vh;

  margin: 2.5vh 0 0 0;

  @media (min-width:$change-layout) {
    flex-direction: row;
    gap: 0;
    margin: 0;
  }
}

.team__card {
  position: relative;
  // overflow: hidden;

  width: 100vw;
  //height: clamp(435px, 45vh, 500px);

  width: 100vw;
  padding-bottom: 20vw;

  @media (min-width:$landscape) {
    padding-bottom: 10vw;
  }

  @media (min-width:$change-layout) {
    width: 1200px;
    height: auto;
    padding-bottom: 0;

    &:first-child {
      margin-left: 5vw;
    }
  }

  picture {
    display: block;
    width: 100%;
    opacity: 0.85;
    z-index: 1;

    background: $color-lightBlue;
    border-radius: 0 100vh 100vh 0;

    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;

    @media (min-width:$change-layout) {
      // width: clamp(900px, 75vw, 1080px);
      width: 90%;
      max-width: 1000px;

      border-radius: 100vh;
      aspect-ratio: 3/2;
    }

  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 100vh 100vh 0;
    mix-blend-mode: multiply;

    @media (min-width:$change-layout) {
      border-radius: 100vh;
    }
  }
}

.team__bio {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: fit-content;
  height: fit-content;
  z-index: 2;


  @media (min-width:$change-layout) {
    bottom: 15%;
    left: 15%;
  }

  h3 {
    color: $color-white;
    color: $color-aquaGreen;
  }

  p {
    width: 85%;
    max-width: 540px;
    margin-top: 16px;

    font-size: clamp(18px, 3vw, 21px);
    line-height: 1.35;
    color: $color-aquaGreen;
    color: $color-white;
  }
}