.contact {
  position: relative;
  overflow: hidden;
  padding-top: 20vh;
  height: clamp(800px, 100vh, 1080px);

  h3,
  p {
    color: $color-orange;
  }

  .wrapper {
    height: 120vh;
    height: fit-content;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    width: fit-content;
    margin-top: 32px;

    @media (max-width: 1480px) {
      width: 80%;
    }

    @media (max-width: 1128px) {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;


      border-radius: 999px;
      border: 1px solid $color-orange;
      transition-duration: .35s;
      cursor: pointer;

      @media (max-width: 480px) {
        width: 4rem;
        height: 4rem;
      }

      svg {
        path {
          transition-duration: .35s;
        }
      }

      &:hover {
        background-color: $color-orange;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  .brand {
    position: absolute;
    bottom: 70px;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    >div {
      font-size: clamp(180px, 48vw, 375px);
      font-weight: 900;
      line-height: .8;
      color: $color-orange;
      text-wrap: nowrap;
      white-space: nowrap;

      transform: translateY(0%);
      pointer-events: none;

      @media (min-width: $change-layout) {
        transform: translateY(25%);
      }
    }
  }
}

.contact__info {
  width: 100%;
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vh;

  z-index: 10;

  @media (min-width: $change-layout) {
    flex-direction: row;
  }
}

.contact__phrase {
  p {
    font-size: clamp(50px, 6vw, 80px);
    font-weight: 900;
    line-height: 1.1;

    span {
      display: block;

      &:nth-child(1) {
        line-height: 0.85;
      }
    }
  }
}

.contact__links {
  // width: 40%;

  p {
    font-size: clamp(21px, 2vw, 25px);
    line-height: 1.35;

    span {
      display: block;
    }
  }

  a {
    color: $color-orange;
    text-decoration: none;
    transition: .35s;

    &:hover {
      color: $color-white;
    }
  }

}