.contact {
  position: relative;
  overflow: hidden;
  padding-top: 20vh;
  height: clamp(500px, 100vh, 1080px);

  h3,
  p {
    color: $color-orange;
  }

  .wrapper {
    height: 120vh;
    height: fit-content;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    width: fit-content;
    margin-top: 32px;

    @media (max-width: 1480px) {
      width: 80%;
    }

    @media (max-width: 1128px) {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;

      border-radius: 999px;
      border: 1px solid $color-orange;
      transition-duration: 0.35s;
      cursor: pointer;

      @media (max-width: 480px) {
        width: 4rem;
        height: 4rem;
      }

      svg {
        path {
          transition-duration: 0.35s;
        }
      }

      &:hover {
        background-color: $color-orange;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  .brand {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    // transform-origin: 50% 30%;
    // animation: rotateAsterisk 22s linear infinite;

    .word:nth-child(3) {
      span:nth-child(5) {
        transform-origin: 50% 30%;
        animation: rotateAsterisk 22s linear infinite;
      }
    }

    > div {
      font-size: clamp(32px, 20vw, 142px);
      font-weight: 900;
      line-height: 0.8;
      color: $color-orange;
      text-wrap: nowrap;
      white-space: nowrap;

      transform: translateY(10%);
      pointer-events: none;

      @media (min-width: 420px) {
        font-size: clamp(85px, 20vw, 282px);
      }
      @media (min-width: 580px) {
        font-size: clamp(120px, 20vw, 280px);
      }
      @media (min-width: 780px) {
        font-size: clamp(150px, 20vw, 325px);
      }
      @media (min-width: $change-layout) {
        transform: translateY(12%);
        font-size: clamp(160px, 22vw, 372px);
      }
    }

    @keyframes rotateAsterisk {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.contact__info {
  width: 94%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vh;

  z-index: 10;

  @media (min-width: $change-layout) {
    flex-direction: row;
    margin-top: 10vh;
  }
}

.contact__phrase {
  p {
    font-size: clamp(42px, 6vw, 96px);
    font-weight: 900;
    line-height: 1.1;

    span {
      display: block;

      &:nth-child(1) {
        line-height: 0.85;
      }
    }
  }
}

.contact__links {
  // width: 40%;

  p {
    font-size: clamp(21px, 2vw, 25px);
    line-height: 1.35;

    span {
      display: block;
    }
  }

  a {
    color: $color-orange;
    text-decoration: none;
    transition: 0.35s;

    &:hover {
      color: $color-white;
    }
  }
}

.contact__social {
  padding: 3em 0 2em 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5em;

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
}
