.contact {
  position: relative;
  overflow: hidden;

  h3,
  p {
    color: $color-orange;
  }


  .wrapper {
    height: 120vh;

    .contact-info {
      width: 100%;
      color: $color-orange;

      display: flex;
      justify-content: space-between;
      align-items: center;

      align-items: last baseline;
      z-index: 10;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .contact-phrase {
        p {
          font-size: clamp(50px, 12vw, 80px);
          font-weight: 900;
          line-height: 1.1;

          span {
            display: block;

            &:nth-child(1) {
              line-height: 0.85;
            }
          }
        }
      }

      .contact-links {
        width: 40%;
        margin-bottom: 6vw;
        font-family: "komet", sans-serif;
        font-weight: 400;
        font-style: normal;

        @media (max-width: 800px) {
          width: 80%;
        }

        p {
          font-size: clamp(8px, 2vw, 25px);

          @media (max-width: 800px) {
            font-size: clamp(16px, 4vw, 50px);
          }

          @media (max-width: 800px) {
            font-size: clamp(22px, 5vw, 60px);
          }

          span {
            display: block;
          }
        }

        .socials {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          width: 60%;
          margin-top: 32px;

          @media (max-width: 1480px) {
            width: 80%;
          }

          @media (max-width: 1128px) {
            width: 100%;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid $color-orange;
            transition-duration: 1s;

            @media (max-width: 480px) {
              width: 4rem;
              height: 4rem;
            }

            &:hover {
              cursor: pointer;
              background-color: $color-white;
              transition-duration: 1s;
            }
          }
        }
      }
    }

  }

  .brand-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    >div {
      font-size: clamp(400px, 66vw, 600px);
      font-weight: 900;
      line-height: .8;
      color: $color-orange;
      text-wrap: nowrap;
      white-space: nowrap;

      transform: translateY(25%);
      pointer-events: none;
    }
  }
}