.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 9980;

  width: 100%;
  margin: 5vh 0 0 0;

  @media (max-width: 580px) {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  .burger {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 60px;
    height: 60px;

    @media (min-width: 780px) {
      display: none;
    }

    button {

      svg {
        width: 100%;
        height: 100%;

        path {
          stroke: #fff;
        }
      }
    }
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }
}

.logo {
  display: block;
  width: fit-content;
  max-width: 80px;
  margin-top: 8px;


  @media (min-width: 1024px) {
    max-width: 90px;
  }
}

.logo-container {
  width: min(100%, 600px);

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}