.hero {
  height: 100vh;
  width: 100vw;
  background: url("/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  overflow: hidden;
  
  video {
    position: absolute;
    z-index: 1;
  }

  .slogan {
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  &__title {
    // position: absolute;
    position: relative;
    pointer-events: none;
    z-index: 999;

    small {
      display: block;
      margin: 0 0 0 .5vw;

      font-size: clamp(18px, 3vw, 36px);
      font-weight: 900;
      letter-spacing: -0.01em;
    }

    h1 {
      font-size: clamp(100px, 22vw, 200px);
      line-height: 0.9;
    }

    span {
      display: block;
    }
  }

  // --> Orange text on hero
  // .brand {
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;

  //   display: flex;
  //   flex-direction: column;
  //   align-items: end;
  //   justify-content: end;

  //   pointer-events: none;

  //   >div {
  //     display: inline-block;
  //     margin: 0;

  //     font-size: clamp(300px, 100vh, 400px);
  //     font-weight: 900;
  //     line-height: 1;
  //     text-align: right;
  //     color: $color-orange;
  //     transform: translateY(60%);

  //     @media (min-width:480px) {
  //       font-size: clamp(400px, 100vh, 900px);
  //     }
  //   }
  // }
}