.main {
  background-color: $color-orange;

  h1,
  h3 {
    position: relative;
    margin: 0;

    font-family: $main-font-title, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(42px, 6vw, 96px);
    line-height: 1.1;
  }
}

.wrapper {
  position: relative;
  width: min(90%, var(--wrapper));
  margin: 0 auto;

  @media (min-width: $change-layout) {
    width: min(95%, var(--wrapper));
  }
}

.section__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;

  width: 94%;
  margin: 0 auto;
  padding: 10vh 0;

  @media (min-width: $change-layout) {
    flex-direction: row;
    gap: 32px;
    width: 95%;
  }
}

.section__p {
  max-width: 480px;
  font-size: clamp(21px, 3vw, 23px);
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin: 1.5rem 0 0 0;

  small {
    display: block;
    margin-top: 1.5rem;

    font-size: 18px;
    opacity: .5;
    letter-spacing: -0.015em;
  }

  strong {
    font-family: $main-font-bold;
    font-weight: normal;
  }
}

.asterisk {
  display: block;
  position: absolute;
  transform: translate(-120%, 15%);
}

.--fullvh {
  height: 100vh;
}

.--flexbotm {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
}