.menu {

  // Menu desktop, vertical layout
  .desktop {
    position: fixed;
    right: calc(5% - 40px);
    width: 40px;
    z-index: 998;
    height: 100vh;

    @media (max-width: 780px) {
      display: none;
    }

    .active {
      opacity: .25;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;

      margin: 0;
      transform: rotate(-90deg);
      position: absolute;
      width: 100vh;
      bottom: 0;
      left: 18px;
      transform-origin: 0;

      li {
        list-style-type: none;

        a {
          padding: 1rem;

          font-size: clamp(16px, 2vw, 18px);
          font-weight: 900;
          letter-spacing: .05rem;
          color: #FFFFFF;
          text-decoration: none;

          transition-duration: .35s;

          &:hover {
            transition-duration: .35s;
            cursor: pointer;
            opacity: .5;
          }
        }

      }

      span {
        font-weight: 600;
        display: block;
        margin-top: 4px;
      }
    }
  }

  // Menu mobile, burger menu
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10vh;

    position: fixed;
    z-index: 9992;
    height: 100vh;
    width: 100%;
    padding: 0 10% 15% 10%;

    background-color: $color-orange;

    @media (min-width: 780px) {
      display: none;
    }

    .close {
      display: flex;
      flex-direction: row;
      justify-content: end;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 60px;
      height: 60px;

      @media (min-width: 780px) {
        display: none;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    .nav {
      padding: 0 0 0 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            display: block;
            padding: .5rem 0;

            text-decoration: none;
            letter-spacing: -.015rem;
            color: #FFFFFF;
            transition-duration: 1s;

            font-size: clamp(36px, 6vw, 48px);
            font-weight: 900;
          }
        }
      }
    }

    .contact {
      position: absolute;
      bottom: 60px;

      width: 80%;
      height: fit-content;
      margin-top: 0;
      padding: 0;


      p {
        display: block;
        margin-bottom: 1rem;

        font-weight: 400;
        font-size: clamp(18px, 3vw, 21px);
        letter-spacing: -0.01em;
        color: $color-white;
      }
    }

  }

  .hidden {
    display: none;
  }
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 999px;
  border: none;
}