.menu {

  .desktop {
    position: fixed;
    right: calc(5% - 40px);
    width: 40px;
    z-index: 998;
    height: 100vh;

    @media (max-width: 780px) {
      display: none;
    }

    .active {
      opacity: .25;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;

      margin: 0;
      transform: rotate(-90deg);
      position: absolute;
      width: 100vh;
      bottom: 0;
      left: 18px;
      transform-origin: 0;

      li {
        list-style-type: none;

        a {
          padding: 1rem;

          font-size: clamp(16px, 2vw, 18px);
          font-weight: 900;
          letter-spacing: .05rem;
          color: #FFFFFF;
          text-decoration: none;

          transition-duration: .35s;

          &:hover {
            transition-duration: .35s;
            cursor: pointer;
            opacity: .5;
          }
        }

      }

      span {
        font-weight: 600;
        display: block;
        margin-top: 4px;
      }
    }
  }

  .mobile {
    position: fixed;
    background-color: $color-orange;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vw;
    z-index: 999;

    @media (min-width: 780px) {
      display: none;
    }

    .nav {
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        gap: 4vh;

        li {
          list-style-type: none;

          a {
            color: #FFFFFF;
            text-decoration: none;
            letter-spacing: .2rem;
            padding: 1rem;
            transition-duration: 1s;
            font-size: clamp(24px, 7vw, 55px);
          }
        }
      }
    }

    .contact {
      width: 80%;
      margin-left: 10vw;
      color: $color-white;
      font-weight: 400;
    }

    .socials {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 10vw;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid $color-white;
        transition-duration: 1s;

        @media (max-width: 480px) {
          width: 4rem;
          height: 4rem;
        }

        &:hover {
          cursor: pointer;
          background-color: $color-white;
          transition-duration: 1s;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}