.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0%;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 9990;
  background-color: $color-darkBlue;

  transform: translateX(100vw);
  opacity: 0;
  pointer-events: none;

  transition: .12s;

  &.is-active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    transition: .35s;
  }
}

.modal__close {
  position: fixed;
  z-index: 9992;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 60px;
  height: 60px;

  &:hover {
    .ui-close {
      // opacity: .5;
      transform: rotate(180deg);
      transform-origin: center;
      border: 2px solid #ffffff22;
    }
  }

  svg {
    display: block;
    pointer-events: none;
  }
}

.ui-close {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 60px;
  height: 60px;
  border-radius: 999px;
  border: 1px solid #ffffff55;
  transition: .35s;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 21px;
    width: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}