.shop {
  padding-top: 10vh;

  h2 {
    padding: 5rem 0;
    font-weight: 800;
    font-size: clamp(2rem, 5vh, 3rem);
    color: $color-orange;
    text-align: center;
  }

  .wrapper {
    text-align: center;

    .shopify-buy-frame--productSet {
      width: 90%;
      margin: auto;
    }
  }
}