swiper-container {
  width: 100%;
  height: 100%;

  --swiper-pagination-color: #EE512F;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #FFFFFF;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide {
  width: 90%;
  max-width: 900px;
}

swiper-slide.slide-img {
  width: 90%;
  max-width: 30vw;
  
  @media (max-width: 1023px) {
    max-width: 84vw;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
}

.swiper-pagination-bullet-active {
  background-color: $color-orange;
}

.sliderWrapper {

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-orange;
  }
}

.work__slider {
  width: 100%;
  height: 90%;
}

.card {
  position: relative;
  width: 100%;

  iframe {
    display: block;
    overflow: hidden;
    border-radius: 24px;
    width: 100%;

    @media (max-width: 1023px) {
      border-radius: 12px;
    }
  }

  img {
    display: block;
    overflow: hidden;
    border-radius: 24px;

    @media (max-width: 1023px) {
      border-radius: 12px;
    }

    width: 100%;
    height: auto;
    margin: auto;
  }

}

.card--vertical {
  img {
    width: 90%;
    height: 100%;
    margin: 0;
  }
}