$color-orange: #EE512F;
$color-lightBlue: #108896;
$color-aquaGreen: #C5ECD8;
$color-darkBlue: #1C374D;
$color-mustard: #FCA720;
$color-darkMustard: #E69C24;
$color-white: #FFFFFF;
$color-grey: #93A0AA;


$pad-site: 5vw;

$landscape: 480px;
$tablet-l: 1024px;
$change-layout: 1024px;

:root {
    --font-main: "komet", sans-serif;
    --wrapper: 1800px;
}