$color-orange: #EE512F;
$color-lightBlue: #108896;
$color-aquaGreen: #C5ECD8;
$color-darkBlue: #1C374D;
$color-mustard: #FCA720;
$color-darkMustard: #E69C24;
$color-white: #FFFFFF;
$color-grey: #93A0AA;


$pad-site: 5vw;

$landscape: 480px;
$tablet-l: 1023px;
$change-layout: 1024px;

$main-font: "graphik_regularregular";
$main-font-bold: "graphiksemibold";
$main-font-title: "graphiksuper";

:root {
    --font-main: "graphik_regularregular", sans-serif;
    --wrapper: 1800px;
}