.videofull {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.videofull__wrapper,
.videofull__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

@media(min-aspect-ratio: 16 / 9) {
  .videofull__wrapper {
    // height:300%;
    // top: -100%
    height: 120%;
    top: -10%
  }
}

@media(max-aspect-ratio: 16 / 9) {
  .videofull__wrapper {
    height: 120dvh;
    width: 400%;
    top: -20%;
    left: -150%
  }
}