.work {
  color: $color-orange;

  .wrapper {
    height: 70vh;
    height: fit-content;
  }

  .section__slide {
    padding: 10vh 0 5vh 0;
  }

  .hidden {
    display: none;
  }
}

.work__list {
  display: flex;
  flex-direction: column;
}

.work__container {
  width: 90%;
  height: fit-content;
  max-width: var(--wrapper);
  margin: 0 auto;
  padding: 5vh 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $change-layout) {
    // height: 100vh;
    padding: 10vh 0;
  }

  &:nth-child(even) {
    align-items: end;
  }

  &:nth-child(odd) {
    align-items: start;
  }

}

.work__item {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 24px;
  overflow: hidden;

  transition: .35s;
  cursor: pointer;

  @media (min-width:$landscape) {
    width: 65vw;
    max-width: 960px;
    aspect-ratio: 16 / 10;
    border-radius: 32px;
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(238, 81, 47, .275), rgba(28, 55, 77, 0));
  }

  &:hover {
    background: #000;

    .name p {
      color: $color-white;
    }

    >img {
      transform: scale(1);
      opacity: .8;
    }

  }

  >* {
    pointer-events: none;
  }

  .name {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    p {
      position: absolute;
      bottom: 24px;
      left: 16px;

      font-size: clamp(32px, 5vw, 45px);
      font-weight: 900;
      letter-spacing: -0.02em;
      color: $color-white;
      transition: .35s;

      @media (min-width:$change-layout) {
        bottom: 40px;
        left: 40px;
        color: $color-orange;
      }
    }
  }

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .35s;
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
  }
}