@use './vars' as *;

.about { 
  position: relative;
  overflow: hidden;
  padding-bottom: 15vh;
  z-index: 9;

  @media (min-width: $change-layout) { 
    padding-bottom: 10vh;
  }
 
  .logo {
    bottom: 33%; 
  }
}

.about {
  // background: linear-gradient(to bottom, var(--color-turquoise), var(--color-aquaGreen));
}

.about__intro { 
  min-height: 50vh;
  padding: 20vh 0;
}

.about__team { 
  padding: 0 0 20vh 0;
}

.team { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  gap: 5vh;
  margin: 0 auto;
 
  width: 90%;
  padding-top: 10vh; 

    @media (min-width: $change-layout) {
      align-items: flex-end;
      gap: 0;
    }
}

.team__card {
  position: relative; 
  width: fit-content; 

  &:nth-child(even) {
    @media (min-width: $change-layout) {
      transform: translateX(-100%);
    }
  }

  picture {
    display: block;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    
    width: min(65vw, 480px);
    height: 100%; 

    // @media (min-width: $change-layout) {
    //   transform: translateX(-10vw);
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // display: flex;
  // flex-direction: row-reverse;
  // align-items: flex-start;
  // justify-content: space-between;
  // gap: 2rem; 
  // width: 100%;

  // .team__pic {
  //   display: block;
  //   width: 100%;  
  //   width:min(75vw, 420px);

  //   transform: translateX(20%);
  //   z-index: 1;
  // }

  // .team__blend {
  //   aspect-ratio: 3 / 4;
  //   overflow: hidden;  
  // }

  // img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover; 
  //   pointer-events: none; 
  // }
}

.team__bio { 
  position: absolute;
  z-index: 2;

  padding: 2rem 0;   
  width: 480px;
  bottom: 10%;
  left: -30%;

  p {
    width: 85%;
    max-width: 540px;
    min-height: 120px;
    margin-top: 1.5rem;  
  }
}