@use './vars' as *;

.about { 
  position: relative;
  // overflow: hidden;
  padding-bottom: 15vh;
  z-index: 9;

  @media (min-width: $change-layout) { 
    padding-bottom: 10vh;
  }
 
  .logo {
    top: 10%; 
  }
}
 

.about__intro { 
  min-height: 5vh;
  padding: 0 0 0 0;

  // position: sticky;
  // top: 80px;
}

.about__team { 
  padding: 0 0 20vh 0;
}

.team { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  gap: 5vh;
  margin: 0 auto;
 
  width: 90%;
  padding-top: 10vh; 

    @media (min-width: $change-layout) {
      align-items: center;
      gap: 4rem;
    }
}

.team__card {
  position: relative; 
  width: fit-content; 

  &:nth-child(odd) {
    @media (min-width: $change-layout) {
      transform: translateX(75%);
    }
  }
  &:nth-child(even) {
    @media (min-width: $change-layout) {
      transform: translateX(-50%);
    }
  }

  picture {
    display: block;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    position: relative;
    
    width: min(65vw, 480px);
    height: 100%; 

    // @media (min-width: $change-layout) {
    //   transform: translateX(-10vw);
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .team__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #072444;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  &:hover {
    .team__overlay {
      opacity: 0.75;
    }

    .team__bio {
      visibility: visible;
    }
  }
}

.team__name {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateX(-65%) translateY(-50%);
  z-index: 10;
  white-space: nowrap;
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 900;
  line-height: 1.15;
  color: var(--color-white);
  pointer-events: none; 
  // display: flex;
  // flex-direction: row-reverse;
  // align-items: flex-start;
  // justify-content: space-between;
  // gap: 2rem; 
  // width: 100%;

  // .team__pic {
  //   display: block;
  //   width: 100%;  
  //   width:min(75vw, 420px);

  //   transform: translateX(20%);
  //   z-index: 1;
  // }

  // .team__blend {
  //   aspect-ratio: 3 / 4;
  //   overflow: hidden;  
  // }

  // img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover; 
  //   pointer-events: none; 
  // }
}

.team__bio {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  z-index: 15;
  padding: 1.5rem 2rem;
  max-width: min(80vw, 500px);
  visibility: hidden; 
  color: var(--color-white);
  line-height: 1.5;
  pointer-events: none;
  overflow: hidden;

  .line {
    display: block;
    overflow: hidden;
  }
}