@use './vars' as *;

.logos {
  @media (max-width: ($landscape - 1px)) {
    min-height: 120vh;
  } 
}

.brands {
  padding-top: 10vh !important;
  justify-content: flex-start; 
  min-height: unset;
  padding-bottom: 20vh;
} 

.brands-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10vh;
  width: 100%; 

  @media (max-width: ($landscape - 1px)) {
    gap: 10vh;
  } 

  &__title {
    width: 90%;
    text-align: center; 

    font-size: clamp(24px, 5vw, 32px);
    line-height: 1.2;
    
    max-width: 480px;
    margin: 0 auto;
  }

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__track {
    display: flex;
    width: fit-content;
    will-change: transform;
  }

  &__brands { 
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-shrink: 0;
    padding: 0 4rem;

    @media (max-width: 1023px) {
      gap: 4rem;
      padding: 0 2rem;
    }

    img {
      max-width: 150px;
      max-height: 100px;
      width: auto;
      height: auto;
      object-fit: contain;
      flex-shrink: 0;

      @media (max-width: ($landscape - 1px)) {
        max-width: 96px;
        max-height: 56px;
      }
    }
  }
}

