@use './vars' as *;

.contact {
  position: relative;
  overflow: hidden;
  padding-top: 0;  
  background-color: var(--color-shop);

  .container {
    justify-content: center;
  } 

  .row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  h3 {
    margin: 0 !important;
  }
}
 
.contact__links { 
  right: 10%;
  bottom: 0%;
  max-width: 400px;

  p { 
    color: var(--color-orange); 
  }

  a {
    display: block; 
    margin-top: 2rem;
     
    color: var(--color-orange);
    text-decoration: none;
    transition: 0.35s;

    &:hover {
      color: $color-white;
    }
  }
}

.contact__social {
  padding: 3em 0 2em 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5em;

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
}

.logo-footer  {
  width: 100%;
  position: absolute; 
  bottom: 0;
  height: 20vh;

  background: url('/images/logo-hot-lava-footer.svg') no-repeat center bottom;
  background-size: contain;
    transform: translateY(5%);

    // img { 
    //   width: 102%;
    //   height: 102%;
    //   object-fit: contain;
    //   transform: translateY(12%) translateX(-2%);
    // }
  }