@use './vars' as *;

.copyright {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 0 3vh 0;
  z-index: 1000;

  &__text {  
    // width: 100%; 
    // text-align: right;

    width: 100vh;
    text-align: left;
    transform: rotate(-90deg) !important;
    transform-origin: right;
    height: 30px;
    position: fixed;
    right: 23px;
    top: -50px;
    
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: inline;
    }
  }


  .line {
    height: 1px;
    width: 28vw;
    background-color: #FFFFFF;
  }

  p {
    font-size: 12px;
    font-family: $main-font;
    text-transform: none;
    letter-spacing: 0.01em;
    margin: 0;
    opacity: .5;


    transform: rotate(180deg) translateX(-100px);
    transform-origin: left;
  }
}