@use './vars' as *;

.hero {
  height: 100svh; 
  width: 100vw;   
  overflow: hidden; 

  @media (min-width: $change-layout) { 
    min-height: 1080px;
  }

  .hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: clip-path, opacity; // Optimize for smooth mask animation
  }

  .video, video {   
    z-index: 1;    
    pointer-events: none; 
  }

  .video { 
    position: absolute;
    top: 35%;
    right: 0;
    // transform: translate(0, -50%);
    
    width: 100%;
    max-width: 90vw;
    height: auto;
    aspect-ratio: 2 / 3;
    overflow: hidden;

    @media (min-width: $change-layout) {
      top: 5%;
      bottom: unset;
      max-width: 60vw;
      aspect-ratio: 16 / 9;
    }


    img {
      width: 100%;
    }

    video {  
      margin: auto;
      width: 200%;
      @media (min-width: $change-layout) {
        transform: scale(1.1) translateY(-1%) translateX(10%);
        width: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    position: relative;
    pointer-events: none;
    z-index: 999;

    small {
      display: block;
      margin: 0 0 10px 0;

      font-size: clamp(24px, 3vw, 36px);
      font-family: $main-font-title;
      font-weight: 400;
      letter-spacing: -0.01em;
    }

    h1 {
      font-size: clamp(100px, 22vw, 200px);
      line-height: 0.76;

      .word:nth-child(odd) {
        &:nth-child(3) {
          span:nth-child(2) {
            margin-left: .5vw;

            // background-color: red;
            @media (max-width: 780px) {
              margin-left: 1.5vw;
            }

            @media (max-width: 480px) {
              margin-left: 1.5vw;
            }
          }

          span:nth-child(3) {
            margin-left: -1vw;
            // background-color: yellow;
          }

          span:nth-child(4) {
            margin-left: -1vw;
            // background-color: green;
          }

          span:nth-child(5) {
            margin-left: -1vw;
            // background-color: brown;
            transform-origin: 50% 30%;
            animation: rotateAsterisk 10s linear infinite;
          }

          @keyframes rotateAsterisk {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }

  .logo { 
    position: absolute;
    bottom: 18%;
    z-index: 10;
    left: 0;
    width: 95%;

    @media (min-width: $change-layout) {
      left: 7vw;
      width: 40vw;
      top: unset;
      bottom: 15.5%;
    }

    img, svg {
      width: 100%;
      height: auto;
    }
  }
}

.logo--vertical { 
  position: absolute;
  bottom: 50%;
  left: 1.5rem;
  width: 100%;
  max-width: 120px;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
  }
}
