@use './vars' as *;

.hero {
  height: 100svh;
  min-height: 1080px;
  width: 100vw;   
  overflow: hidden; 

  .video, video {   
    z-index: 1;    
    pointer-events: none; 
  }

  .video { 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    
    width: 100%;
    max-width: 60vw;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;


    img {
      width: 100%;
    }

    video {
      // position: absolute;
      // left: unset;
      // right: 0;
      // top: 0;
      // bottom: 0;
      transform: scale(1.1) translateY(-1%) translateX(10%);
      margin: auto;

      width: 100%;
    }
  }
 

  &__title {
    position: absolute;
    position: relative;
    pointer-events: none;
    z-index: 999;

    small {
      display: block;
      margin: 0 0 10px 0;

      font-size: clamp(24px, 3vw, 36px);
      font-family: $main-font-title;
      font-weight: 400;
      letter-spacing: -0.01em;
    }

    h1 {
      font-size: clamp(100px, 22vw, 200px);
      line-height: 0.76;

      .word:nth-child(odd) {
        &:nth-child(3) {
          span:nth-child(2) {
            margin-left: .5vw;

            // background-color: red;
            @media (max-width: 780px) {
              margin-left: 1.5vw;
            }

            @media (max-width: 480px) {
              margin-left: 1.5vw;
            }
          }

          span:nth-child(3) {
            margin-left: -1vw;
            // background-color: yellow;
          }

          span:nth-child(4) {
            margin-left: -1vw;
            // background-color: green;
          }

          span:nth-child(5) {
            margin-left: -1vw;
            // background-color: brown;
            transform-origin: 50% 30%;
            animation: rotateAsterisk 22s linear infinite;
          }

          @keyframes rotateAsterisk {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }

  .logo { 
    position: absolute;
    bottom: 7.5%;
    left: 5vw;
    width: 40vw;
    z-index: 10;

    img, svg {
      width: 100%;
      height: auto;
    }
  }
}

.logo--vertical { 
  position: absolute;
  bottom: 50%;
  left: 1.5rem;
  width: 100%;
  max-width: 120px;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
  }
}
