html,
body {
  margin: 0;
  overflow-x: hidden;

  font-family: var(--font-main), sans-serif;
  color: $color-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

// Reset
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  width: 100%;
}

// Font
h1,
h2,
h3,
h4,
h5,
h6,
.contact__phrase p,
.contact .brand {
  font-family: $main-font-title;
  font-style: normal;
}
 

h1 {
  font-size: clamp(48px, 7vw, 120px);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

h3 { 
  font-size: clamp(48px, 15.5vw, 96px);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 4rem !important;
 
}
h4 { 
  font-size: clamp(32px, 7vw, 40px);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.01em; 
 
}

p { 
  font-family: var(--font-main);
  font-size: clamp(18px, 3vw, 20px);
  font-weight: 400;
  line-height: 1.425;
  letter-spacing: -0.01em;
  color: $color-white;

  @media (min-width:$change-layout) {
    font-size: clamp(18px, 3vw, 20px); 
  } 
}

img {
  display: block;
}

button {
  padding: 0;
  border: none;
}

[hidden] {
  display: none;
}