.intro { 
  position: relative;
  z-index: 10;
  padding: 10vh 0;

  overflow-x: hidden;
  overflow-y: visible;

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 4rem;
  }
 
  .container {
    position: relative;
    z-index: 2;
  }

  .paragraph-intro {
    margin-top: 0rem;
  }
}

.intro-first {
  // background: linear-gradient(to bottom, var(--color-orange), var(--color-yellow));
  .container {
    align-items: flex-end;
  }
}

.intro-second {
  // background: var(--color-turquoise);
}

.intro-third {
  // background: var(--color-orange);
}

.intro-first{
  .title {
    @media (min-width: 1024px) {
      max-width: 70%;
    }
  }
}

.intro-second, 
.intro-third  {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
  }
}
.intro-third {
  .container { 
    align-items: flex-end;
    min-height: 90vh;
  }
}


.image-phrase {
  position: absolute; 
  top: 20%;
  left: 0%;
  width: 47vw;
  height: auto;
  aspect-ratio: 4/3;
  
  @media (max-width: 1023px) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-ideas {
  width: 47vw;
  height: auto;
  aspect-ratio: 5/3;

  @media (max-width: 1023px) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
.asterisk-lines-container {
  position: relative;
  overflow: hidden; 
}

.asterisk-lines {
  position: absolute;
  bottom: 42%;
  left: -15%;
  width:min(75vw, 1080px);
  height: auto;
  aspect-ratio: 1/1;
  z-index: 10;
}