@use './vars' as *;

.intro { 
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0;

  @media (min-width: $change-layout) {
    padding: 20vh 0;
    margin-top: 15vh;
  }
 
  .container {
    position: relative;
    z-index: 2;

    @media (max-width: ($change-layout - 1px)) {
      min-height: 70vh;
    }
  }

  .paragraph-intro {
    width: 90%; 
    margin: 0 auto;

    @media (min-width: $change-layout) {
      width: 100%; 
      margin: 0;
    }
   
  }
}

.intro__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 4rem;
}

.intro__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;

  @media (max-width: ($change-layout - 1px)) {
    min-height: 95vh;
    justify-content: flex-start;    
  }

  .paragraph {
    @media (max-width: ($change-layout - 1px)) {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.intro__section--first {

  @media (max-width: ($change-layout - 1px)) {
    min-height: 120vh; 
  }
  
  .container { 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15vh;
    min-height: 100vh;

    @media (max-width: ($change-layout - 1px)) {
      align-items: flex-end;
    }
  } 

  .title {
    @media (min-width: 1024px) {
      max-width: 70%;
    }
  }
}

.intro__section--second, 
.intro__section--third  {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
  }
}

.intro__section--third { 

  .wrapper { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
 
  .container {  
    align-items: flex-start; 
    width: fit-content;
    width: 100%;
    margin: 0;

    @media (min-width: $change-layout) {
      width: fit-content;
    }
  }
}
.intro__section--fourth {
  justify-content: flex-start; 
  .container {  
    min-height: 0vh;
  }
}

// Images at intro section

.image-phrase {
  position: absolute; 
  top: 0%;
  left: 0;
  width: 50vw;
  height: auto;
  aspect-ratio: 3/2;
  
  @media (max-width: 1023px) {
    top: 10%;
    left: -10%;
    width: 100%;
    // aspect-ratio: 1/1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-ideas {
  position: absolute;
  top: 15%;
  right: 3%;
  width: 52.5vw;
  height: auto;
  aspect-ratio: 5/3;

  @media (max-width: 1023px) {
    width: 100%;
    top: -25%;
    right: -17%;
    // aspect-ratio: 1/1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

// Asterisk lines at intro section

.asterisk-lines-container {
  position: relative;
  overflow: hidden; 
}

.asterisk-lines {
  position: absolute;
  bottom: 17.5%;
  left: -15%;
  width:min(75vw, 1080px);
  height: auto;
  aspect-ratio: 1/1;
  z-index: 10;

  @media (max-width: ($change-layout - 1px)) {
    bottom: 15%;
    left: -55%;
    width: min(150vw, 1080px);
  }
}