@use './vars' as *;

.main {
  background-color: $color-orange; 
}

.wrapper {
  position: relative;
  width: min(90%, var(--wrapper));
  margin: 0 auto;

  @media (min-width: $change-layout) {
    width: min(85%, var(--wrapper));
  }
}

.container { 
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    max-width: 480px; 
  }
} 

.asterisk {
  display: block;
  position: absolute;
  transform: translate(-120%, 15%);
}

.--fullvh {
  height: 100vh;
}

.--flexbotm {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
}

// Fluid canvas for smoke effect
#fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.3;
}


#lava-lamp-canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; 
}

.title {
  font-size: clamp(40px, 5vw, 80px);
}