@use './vars' as *;

.main {
  background-color: $color-orange; 
}

.wrapper {
  position: relative;
  width: min(calc(100% - 3rem), var(--wrapper));
  margin: 0 auto;

  @media (min-width: $change-layout) {
    width: min(85%, var(--wrapper));
  }
}

.container { 
  width: 95%;
  margin: 0 auto;
  padding: 0 0;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: $change-layout) {
    width: 85%;
    max-width: 1400px;
  }

  p {
    max-width: 480px; 
  }
} 

.asterisk {
  display: block;
  position: absolute;
  transform: translate(-120%, 15%);
  color: transparent;

  background-image: url("/asterisk.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: top;
}

.--fullvh {
  height: 100vh;
}

.--flexbotm {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
}

// Fluid canvas for smoke effect
#fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.3;
}


#lava-lamp-canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; 
}

.title {
  font-size: clamp(36px, 5vw, 80px);
  line-height: 1;

  @media (max-width: ($change-layout - 1px)) {
    width: 90%;
    margin: 0 0 0 5%;
  }
}

// SplitText styles - prevent word breaking in mobile when using chars
.word {
  // Keep words intact when they contain chars (SplitText with words,chars)
  white-space: nowrap;
  display: inline-block;
}

.char {
  display: inline-block;
  // Prevent individual chars from breaking
  word-break: keep-all;
}