.main {
  background-color: $color-orange;

  h1,
  h3 {
    position: relative;
    margin: 0;
   
    // font-size: clamp(42px, 6vw, 96px); 
  }
}

.wrapper {
  position: relative;
  width: min(90%, var(--wrapper));
  margin: 0 auto;

  @media (min-width: $change-layout) {
    width: min(95%, var(--wrapper));
  }
}

.container { 
  width: 90%;
  margin: 0 auto;
  padding: 10vh 0;
 
}

.section__p {
  max-width: 480px; 
  margin: 1.5rem 0 0 0; 
}

.asterisk {
  display: block;
  position: absolute;
  transform: translate(-120%, 15%);
}

.--fullvh {
  height: 100vh;
}

.--flexbotm {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
} 