@use './vars' as *;

.main {
  background-color: $color-orange;

  h1,
  h3 {
    position: relative;
    margin: 0;
   
    // font-size: clamp(42px, 6vw, 96px); 
  }
}

.wrapper {
  position: relative;
  width: min(90%, var(--wrapper));
  margin: 0 auto;

  @media (min-width: $change-layout) {
    width: min(95%, var(--wrapper));
  }
}

.container { 
  width: 90%;
  margin: 0 auto;
  padding: 0 0;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    max-width: 480px; 
  }
} 

.asterisk {
  display: block;
  position: absolute;
  transform: translate(-120%, 15%);
}

.--fullvh {
  height: 100vh;
}

.--flexbotm {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
} 