@use './vars' as *;

.menu {

  // Menu desktop, vertical layout
  .desktop {
    position: fixed;
    // right: 1rem;
    // width: 40px;
    // z-index: 998;
    // height: 100vh;

    // border-left: 1px solid rgba(255, 255, 255, 0.25);

    // background: rgba(255, 255, 255, 0.1) !important;
    // backdrop-filter: blur(20px);

    // left: 0;

    right: 0;
    width: 60px;
    z-index: 998;
    height: 100vh;
    // border-right: 1px solid #fff;

    @media (max-width: 780px) {
      display: none;
    }

    .active {
      opacity: .25;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row-reverse;
      margin: 0;
      transform: rotate(-90deg);
      position: absolute;
      width: 100vh;
      bottom: -10vh;
      left: 2rem;
      transform-origin: 0;

      li {
        list-style-type: none;

        a {
          padding: 1rem;
          font-family: $main-font-title;
          font-size: clamp(16px, 2vw, 18px);
          font-weight: 800;
          letter-spacing: .05rem;
          color: #FFFFFF;
          text-decoration: none;

          transition-duration: opacity .35s;

          &:hover {
            transition-duration: opacity .35s;
            cursor: pointer;
            opacity: .5;
          }
        }

      }

      span {
        font-weight: 600;
        display: block;
        margin-top: 4px;
      }
    }
  }

  // Menu mobile, burger menu
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10vh;

    position: fixed;
    z-index: 9992;
    height: 100vh;
    width: 100%;
    padding: 20vh 2rem 0 2rem;

    background-color: var(--color-blue); 
    transform: translateX(0%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s all;

    @media (min-width: 780px) {
      display: none;
    }

    .close {
      display: flex;
      flex-direction: row;
      justify-content: end;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 60px;
      height: 60px;

      @media (min-width: 780px) {
        display: none;
      }

      button {
        background: transparent;
      }
      
      svg {
        width: 40px;
        height: 40px;

        path {
          fill: #fff;
        }
      }
    }

    .nav {
      padding: 0 0 0 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            display: block;
            padding: .5rem 0;

            text-decoration: none;
            letter-spacing: -.015rem;
            color: #FFFFFF;
            transition-duration: 1s;

            font-family: $main-font-title;
            font-size: clamp(40px, 6vw, 48px);
            font-weight: 900;
            line-height: 1;
          }
        }
      }
    }

    .contact {
      position: absolute;
      bottom: max(60px, 10vh);

      width: 100%;
      height: fit-content;
      margin-top: 0;
      padding: 0;


      p {
        display: block;
        margin-bottom: 1.5rem;

        font-weight: 400;
        font-size: 1rem;
        line-height: 1.35;
        letter-spacing: -0.01em;
        color: $color-white;
      }
      a {
        color: $color-white;
        text-decoration: none;
        transition: 0.35s;

        font-size: 1.5rem;
        font-weight: 700;

        &:hover {
          color: #000;
        }
      }
    }

  }

  .hidden {
    // display: none;
    transform: translateX(100%);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  
    border-radius: 999px;
    border: none;
  }

}

.burger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;

  @media (min-width: 780px) {
    display: none;
  }

  button {
    background: transparent;

    svg {
      width: 100%;
      height: 100%;
      transform: scale(1.75);

      path {
        stroke: #fff;
      }
    }
  }
}
