@use './vars' as *;

.shop { 
  background:var(--color-shop) url('/shop/bg.png') no-repeat top center;
  background-size: contain;

  @media (min-width: $change-layout) {
    background-size: cover;
    min-height: 1300px;
  }

  &__hero {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wrapper {
    text-align: center;  
    padding:0 0; 

    .shopify-buy-frame--productSet {
      width: 90%;
      margin: auto;
    }
  }
}

 
.shopify-buy-frame iframe {
  max-height: 1420px;
  margin-bottom: 20vh;
}