.shop {
  background-color: var(--color-darkBlue);


  &__hero {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wrapper {
    text-align: center;  
    padding:0 4rem; 

    .shopify-buy-frame--productSet {
      width: 90%;
      margin: auto;
    }
  }
}

 
.shopify-buy-frame iframe {
  max-height: 1420px;
  margin-bottom: 20vh;
}