@use './vars' as *;

.shop { 
  position: relative;
  background: var(--color-shop);

  &__hero {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top center;

      @media (min-width: $change-layout) {
        object-fit: cover;
      }
    }
  }

  .wrapper {
    position: relative;
    z-index: 2;
    text-align: center;  
    padding: 0 0; 

    .shopify-buy-frame--productSet {
      width: 90%;
      margin: auto;
    }
  }
}

 
.shopify-buy-frame iframe {
  max-height: 1420px;
  margin-bottom: 20vh;
}