@use './vars' as *;

.shop { 
  position: relative;
  background: var(--color-shop);

  &__hero {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/shop/bg-shop-mobile.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

      @media (min-width: $change-layout) {
        background-image: url('/shop/bg-shop.jpg');
        background-position: bottom center;
      }
  }

  .wrapper {
    position: relative;
    z-index: 2;
    text-align: center;  
    padding: 0 0; 

    .shopify-buy-frame--productSet {
      width: 90%;
      margin: auto;
    }
  }
}

.shop__logo {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;

  img {
    width: clamp(200px, 30vw, 300px);
    height: auto; 
    opacity: 0.95;
  }
}
 
.shopify-buy-frame iframe {
  max-height: 1420px;
  margin-bottom: 20vh;
}