$color-orange: #EC532C;
$color-turquoise: #0F8896;
$color-aquaGreen: #C7E6D5;
$color-darkBlue: #103B60;
$color-yellow: #FBC346;
$color-darkMustard: #E69C24; /* version 1.0 */
$color-white: #FFFFFF; /* version 1.0 */
$color-grey: #93A0AA; /* version 1.0 */

$pad-site: 5vw;

$landscape: 480px;
$tablet-l: 1023px;
$change-layout: 1024px;

$main-font: "inter", sans-serif;
$main-font-bold: "inter", sans-serif;
$main-font-title: "inter", sans-serif;

:root {
    --font-main: "inter", sans-serif;
    --font-bold: "inter", sans-serif;
    --font-title: "inter", sans-serif;
    --wrapper: 1800px;
    --color-yellow: #FBC346;
    --color-turquoise: #0F8896;
    --color-blue: #103B60;
    --color-orange: #EC532C;
    --color-aquaGreen: #C7E6D5;
    --color-darkBlue: #103B60;
    --color-white: #FFFFFF;
    --color-grey: #93A0AA;
    --color-link: #fff;

    --color-shop: #2A5C5C;
}