.work {  
  .hidden {
    display: none;
  }
}
 

.work__container { 
  display: flex;
  flex-direction: column;
  justify-content: center; 

  width: 100%;

  padding: 0;

}

.work__item {
  position: relative;
  width: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
 
  cursor: pointer;
 
 

  >* {
    pointer-events: none;
  }

  .name { 
    width: 100%;
    height: 100%;
    z-index: 2;

    p { 
      font-size: clamp(24px, 3vw, 36px);
      font-weight: 900;
      bottom: 2rem;
      left: 2rem;  
      transition: .35s;
 
    }
  }
  
  img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition-timing-function: ease-in-out;
  }
}