.works {
  position: relative;
  background: var(--color-blue);


  .logo { 
    top: 12vh;
    right:5%;   
  }
}

.works__list {    
  position: relative;
  min-height: 100vh;
  padding: 10vh 0; 
  justify-content: center;
  gap: 1rem; 

} 

.work__container { 
  display: flex;
  flex-direction: column;
  justify-content: center; 

  width: 100%;
  padding: 0;
}

.work__item {
  position: relative;
  width: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
 
  cursor: pointer; 

  >* {
    pointer-events: none;
  }

  .name { 
    width: 100%;
    height: 100%;
    z-index: 2;

    p { 
      font-size: clamp(24px, 3vw, 36px);
      font-weight: 900;
      bottom: 2rem;
      left: 2rem;  
      transition: .35s;
 
    }
  }
  
  img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition-timing-function: ease-in-out;
  }
}

.logos {
  padding-top: 10vh !important;
  justify-content: flex-start; 
  min-height: unset;
  padding-bottom: 20vh;
}

.brands { 
  width: 65vw;
  padding-top: 10vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center; 

  @media (max-width: 1023px) {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    justify-self: center;
  }
  
}
